<ul class="b-car-details__nav nav nav-tabs bg-primary">
    <li class="active"><a href="#specifications" data-toggle="tab">specifications</a>
    </li>
    <li><a href="#details" data-toggle="tab">technical details</a>
    </li>
    <li><a href="#contact" data-toggle="tab">contact</a>
    </li>
</ul>
<div class="b-car-details__tabs tab-content">
    <div class="tab-pane active fade in" id="specifications">
        <p>This 2018 model car is Brilliant Black Crystal Pearlcoat with a Black/Diesel Gray interior. Buy confidence knowing Jeep Dodge Ram Surprise has been exceeding customer expectations for many years and always provide
            customers with a great value!</p>
        <p>Sit amet consectetura dipisicing elit dui sed eiusmod tempor incididunt ut labore uset dolore magna aliqua minim veniam quis nostrud exercitation. Slamco em laborisa aliquip ex ea comdo consequat uis auted irure
            rehenderit voluptate velit esse cillum dolore eu fugiat nulla sed pariatura ipsum dolor ame consecteu adipis elit sed do eiusmod tempora incididunt. Lorem ipsum dolor sit amet, consectetur adipisicing elit sed
            do eius tempor incididunt ut labore et dolore magna aliqua.</p>
        <p>Ut enim ad minim veniam quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea comodo consequat aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
            sint cupidatat non proident sunt in culpa qui officia deserunt mollit anim.</p>
        <div class="b-car-details__tabs-title">more features</div>
        <ul class="list list-mark-5 list_mark-prim list-2-col">
            <li>Drivetrain Oil Cooler: Auxiliary</li>
            <li>Engine Alternator: 160 Amps</li>
            <li>Exterior Mirrors Manual Folding</li>
            <li>Seatbelts Seatbelt Warning Sensors</li>
            <li>Front Headrests Adjustable</li>
            <li>Cruise Control System</li>
            <li>Crumple Zones Front</li>
            <li>Roll Stability Control</li>
            <li>Multi-Function Display</li>
            <li>ABS Brakes (4-Wheel)</li>
            <li>Audio System 6 Speakers</li>
            <li>Electronic Brakeforce Distribution</li>
        </ul>
    </div>
    <div class="tab-pane fade" id="details">
        <p>This 2018 model car is Brilliant Black Crystal Pearlcoat with a Black/Diesel Gray interior. Buy confidence knowing Jeep Dodge Ram Surprise has been exceeding customer expectations for many years and always provide
            customers with a great value!</p>
        <p>Sit amet consectetura dipisicing elit dui sed eiusmod tempor incididunt ut labore uset dolore magna aliqua minim veniam quis nostrud exercitation. Slamco em laborisa aliquip ex ea comdo consequat uis auted irure
            rehenderit voluptate velit esse cillum dolore eu fugiat nulla sed pariatura ipsum dolor ame consecteu adipis elit sed do eiusmod tempora incididunt. Lorem ipsum dolor sit amet, consectetur adipisicing elit sed
            do eius tempor incididunt ut labore et dolore magna aliqua.</p>
        <p>Ut enim ad minim veniam quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea comodo consequat aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
            sint cupidatat non proident sunt in culpa qui officia deserunt mollit anim.</p>
    </div>
    <div class="tab-pane fade" id="contact">
        <p>Ut enim ad minim veniam quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea comodo consequat aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
            sint cupidatat non proident sunt in culpa qui officia deserunt mollit anim.</p>
        <p>This 2018 model car is Brilliant Black Crystal Pearlcoat with a Black/Diesel Gray interior. Buy confidence knowing Jeep Dodge Ram Surprise has been exceeding customer expectations for many years and always provide
            customers with a great value!</p>
        <p>Sit amet consectetura dipisicing elit dui sed eiusmod tempor incididunt ut labore uset dolore magna aliqua minim veniam quis nostrud exercitation. Slamco em laborisa aliquip ex ea comdo consequat uis auted irure
            rehenderit voluptate velit esse cillum dolore eu fugiat nulla sed pariatura ipsum dolor ame consecteu adipis elit sed do eiusmod tempora incididunt. Lorem ipsum dolor sit amet, consectetur adipisicing elit sed
            do eius tempor incididunt ut labore et dolore magna aliqua.</p>
        <p>Ut enim ad minim veniam quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea comodo consequat aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
            sint cupidatat non proident sunt in culpa qui officia deserunt mollit anim.</p>
    </div>
</div>