body {
    counter-reset: list;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: 'Roboto', sans-serif;
}
::placeholder {
  color: #999 !important;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
 color: #999 !important;
}

::-ms-input-placeholder { /* Microsoft Edge */
 color: #999 !important;
}
.l-theme-custom {
    background-color: #fff;/*rgba(170, 170, 170, 0.3)*/
}
.panel-title {
    font-family: Roboto;
}
.btn {
    font-family: Roboto;
}
.btn-standard {
    border-color: #1565c0;
    background-color: #1565c0;
}
.mt-0 {
    margin-top: 0;
}
.mb-5 {
    margin-bottom: 5px;
}
.pt-0 {
    padding-top: 0;
}
.navbar-info * {
    color: #fff !important;
}
.navbar-info {
	height: 60px;
	padding: 5px 5px;
	font-size: 19px !important;
	top: 5px;
	border-radius: 5px;
	color: #fff !important;
	line-height: 20px;
	font-weight: bold;
	font: 600 12px/20px 'Roboto', sans-serif;
    text-transform: none;
    letter-spacing: 0;
}
.navbar-info div {
    font-size: 24px;
    padding-bottom: 5px;
}
.navbar-info span {
    font-size: 18px;
    letter-spacing: -0.5px;
}
.navbar-info:active, 
.navbar-info:focus, 
.navbar-info:active:focus
.navbar-info.active.focus {
	background-color: #1565c0 !important;
	border-color: #0653ab !important;
}
.navbar-info span {
	color: #fff !important;
}
.main-slider {
    max-width: 1400px;
}
.b-advantages-1__title {
	font-size: 20px;
}
.b-filter__btns {
	margin-top: 0;
    margin-left: 0;
    text-align: right;
}
.b-filter__btns button.btn {
	font: 600 12px/40px Roboto;
}
.b-info__title_lg {
	font-size: 30px;
}
.b-bnr__title {
	font: 600 36px/1 Roboto;
}
.header-topbarbox-1, .header-topbarbox-2 {
    padding: 15px 0 15px;
}
.header.header-color-black .navbar .navbar-nav > li.active > a,
.header.navbar-scrolling .navbar .navbar-nav > li.active > a
 {
    border-bottom: 0.1875em solid #1565c0;
}
.header.header-color-black .navbar .navbar-nav > li > a:hover,
.header.header-color-black .navbar .navbar-nav > li > a:focus {
	color: #222;
    border-bottom: 0.1875em solid #1565c0;
    background: none;
}
.yamm .dropdown-menu li > a {
	font-size: 14px;
}
.dropdown-menu > li.active > a,
.dropdown-menu > li > a:hover, 
.dropdown-menu > li > a:focus,
.navbar-scrolling .dropdown-menu > li.active > a,
.navbar-scrolling .dropdown-menu > li > a:hover,
.navbar-scrolling .dropdown-menu > li > a:focus {
	background-color: #1565c0;
	color: #fff !important;
}
.breadcrumb > li, .breadcrumb > li > a {
    font-size: 16px;
    font-family: Roboto;
}
.breadcrumb > li + li:before {
    font-size: 16px;
}
.footer-list__item {
    display: list-item;
}
.footer-list__link {
    display: inline-block;
}
.footer__main {
    padding-bottom: 40px;
}
footer.footer.area-bg {
    padding-top: 40px;
}
.footer .copyright {
    margin-right: 0;
    padding: 15px 0;
}
.section-default {
    padding-top: 60px;
    padding-bottom: 40px;
}
.section-default .container {
    padding-top: 40px;
}
.section-default .container:first-child {
    padding-top: 0;
}
.ui-title-block {
    font-size: 25px;
    font-weight: 500;
    color: #015697;
}
.ui-subtitle-block {
    color: #222;
}
.goods-group {
    padding-top: 30px;
}
.goods-group .vehicle-group {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
}
.b-goods-feat__name:before {
    content: none;
}
.b-goods-feat:before, .b-goods-feat:after {
    display: table;
    content: "";
}
.b-goods-feat:after {
    clear: both;
}
.b-goods-feat {
    position: relative;
    min-height: 250px;
    padding: 25px 30px 25px;
    font-family: Roboto;
    -webkit-transition: all .3s;
    transition: all .3s;
    border: 1px solid rgba(0, 0, 0, 0.15);
}
.b-goods-ac  {
    background-color: #fff;
    padding: 25px 30px 25px;
    margin-bottom: 60px;
    border: none;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}
.b-goods-ac__img,
.b-goods-feat__img {
    height: auto;
}
.b-goods-ac__info,
.b-goods-feat__info {
    padding-bottom: 10px;
    width: 100%;
}
.b-goods-feat:hover {
    border-color: #fff;
    box-shadow: 0 5px 30px rgba(0, 0, 0, 0.15);
}
.b-goods-feat:hover .b-goods-links {
  opacity: 1;
}
.b-goods-feat:hover .b-goods-feat__img {
  top: -10px;
  left: -10px;
}
.b-goods-feat__img {
  position: relative;
  top: 0;
  left: 0;
  -webkit-transition: all .3s;
  transition: all .3s;
}
.owl-theme_w-btn {
    padding-bottom: 60px;
}
/*.b-goods-ac__info:before {*/
/*    content: '';*/
/*    position: absolute;*/
/*    bottom: 30%;*/
/*    top: 62%;*/
/*    width: 28px;*/
/*    background: #0041ff;*/
/*    height: 3px;*/
/*    -webkit-transform: skew(-45deg);*/
/*    -moz-transform: skew(-45deg);*/
/*    -ms-transform: skew(-45deg);*/
/*    -o-transform: skew(-45deg);*/
/*    transform: skew(-45deg);*/
/*}*/
/*.b-goods-ac__info:after {*/
/*    content: '';*/
/*    position: absolute;*/
/*    bottom: 30%;*/
/*    top: 62%;*/
/*    left: 62px;*/
/*    width: 56px;*/
/*    height: 3px;*/
/*    background: #df9406;*/
/*    -webkit-transform: skew(-45deg);*/
/*    -moz-transform: skew(-45deg);*/
/*    -ms-transform: skew(-45deg);*/
/*    -o-transform: skew(-45deg);*/
/*    transform: skew(-45deg);*/
/*}*/
.b-goods-ac__name,
.b-goods-feat__name {
    font-size: 16px;
    text-transform: uppercase;
    border-bottom: #eee solid;
}
.b-goods-ac__name:hover,
.b-goods-feat__name:hover {
    color: #1565c0;
}
.b-goods-ac__price,
.b-goods-feat__price {
    float: left;
    color: #222;
    font-family: Arial,Helvetica Neue,Helvetica,sans-serif;
}
.b-goods-ac__price span,
.b-goods-feat__price span {
    color: #ed1c24;
    font-size: 16px;
}
.b-goods-ac__price sup,
.b-goods-feat__price sup {
    font-size: 12px;
    font-weight: normal;
}
.b-goods-ac__price, .b-goods-ac__price.discount span,
.b-goods-feat__price, .b-goods-feat__price.discount span {
    font-size: 14px;
}
.b-goods-ac__price, .b-goods-ac__price.callme span,
.b-goods-feat__price, .b-goods-feat__price.callme span {
    font-size: 14px;
}
.b-goods-feat__label {
    z-index: 900;
}
.b-goods-feat__name {
    margin-top: inherit;
    margin-bottom: inherit;
}
.b-goods-feat__price {
    font-weight: 600;
}
.b-car-details__share-links {
    line-height: 1;
}
.b-car-details__share-link {
    display: inline-block;
    margin-right: 21px;
    font: 500 12px Roboto;
    text-decoration: underline;
    color: #222;
}
.b-car-details__header {
    padding-bottom: 20px;
}
.b-car-info__price {
    background-color: #5c80a9;
    color: #990000;
}
.b-car-info__price div {
    font-size: 16px;
    display: block;
}
.b-car-info__price-unit {
    padding-left: 12px;
    font-size: 14px;
    font-weight: 500;
}
.b-calculator {
    border: 1px solid #eee;
}
.b-calculator__input {
    font-family: Roboto;
}
.sidebar-contact-us .sidebar-info {
    top: 150px;
    position: fixed;
    right: -2px;
    border: 2px;
    box-shadow: -6px 6px 10px rgba(0, 0, 0, 0.15);
    color: #000;
    background-color: #ffffff;
    width: 185px;
    height: auto;
    padding: 25px 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    z-index: 100;
    -ms-transform: rotate(-90deg);
    /* -webkit-transform: rotate(-90deg); */
    /* transform: rotate(-90deg); */
    transform-origin: 100% 100%;
    overflow: hidden;
    box-sizing: border-box;
    z-index: 90000;
}
.sidebar-contact-us .sidebar-info .business-man__img {
    overflow: hidden;
    text-align: center;
}
.sidebar-contact-us .sidebar-info .business-man__img img {
    width: 140px;
    border-radius: 50%;
}
.sidebar-contact-us .sidebar-info blockquote {
    padding: 0;
    margin: 10px 0 12px;
    position: relative;
    font-weight: 400;
}
.sidebar-contact-us .sidebar-info blockquote cite {
    text-align: center;
}
.sidebar-contact-us .sidebar-info .b-blockquote__author {
    display: block;
    font: 600 16px Roboto;
    color: #222;
    text-transform: uppercase;
}
.sidebar-contact-us .sidebar-info .b-blockquote__category {
    display: block;
    margin: 2px 0 16px;
    font: 500 13px Roboto;
    color: #888;
}
.sidebar-contact-us .sidebar-info .b-blockquote__hotline {
    display: block;
    margin-bottom: 16px;
    font-size: 20px;
    font-weight: bold;
    color: red;
}
.sidebar-contact-us .sidebar-info .list-mark li {
    font-size: 12px;
    padding-left: 20px;
}
.sidebar-contact-us .sidebar-info .list-mark li:before {
    font-family: FontAwesome;
    content: "\f058";
}
.sidebar-contact-us .sidebar-info a.btn {
    width: 100%;
    font: 14px Roboto;
    line-height: 20px;
}
.sidebar-contact-us .sidebar-info a.btn:first-child {
    margin-bottom: 5px;
}
.sidebar-contact-us .sidebar-toggle {
    background: #fff;
    position: fixed;
    top: 180px;
    padding: .8rem;
    padding-right: 1.5rem;
    /*padding-left: 1.5rem;*/
    border-radius: 5px 0 0 5px;;
    box-shadow: -2px 2px 5px #999;
    right: 175px;
    cursor: pointer;
    transition: .5s;
    z-index: 90000;
}
.sidebar-contact-us .sidebar-toggle.closed {
    background: #fff;
    position: fixed;
    top: 180px;
    padding: .8rem;
    padding-right: 1.5rem;
    /* padding-left: 1.5rem; */
    border-radius: 5px 5px 0 0;
    box-shadow: -2px 2px 5px #999;
    right: 175px;
    cursor: pointer;
    transition: .5s;
    z-index: 90000;
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
}
.sidebar-toggle.closed:before {
    content: "";
}
.sidebar-toggle:before {
    content: "\f101";
    font: 400 20px/30px "FontAwesome";
    color: #1565c0;
}
.sidebar-contact-us.collapsed .sidebar-toggle {
    right: -45px;
    font-weight: 500;
    background: #eee;
}
.sidebar-contact-us.collapsed .sidebar-toggle:hover {
    right: -42px;
    background: #fff;
}
.sidebar-contact-us.collapsed .sidebar-info {
    right: -190px;
}
.b-advantages-1.center {
    background-color: rgba(204, 204, 204, 0.15);
}
.b-advantages-1:hover {
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}
.main-slider-1 {
    margin-top: 145px;
}
.main-slider-1 .main-slider__label {
    right: 0;
}
.sp-image-container:after {
    background-color: rgba(0, 0, 0, 0.20);
}
.main-slider-1 .main-slider__subtitle {
    font-size: 35px;
    line-height: 1.2;
}
.ui-form-3 .form-control {
    font-family: Roboto;
}
.ui-form-3 .dropdown-menu > li > a {
    padding: 12px 20px;
}
.b-post-full .entry-title.mt-0 {
    margin-top: 0;
}
.l-main-content {
    padding-top: 0;
    padding-bottom: 30px;
}
.b-post-full {
    margin-bottom: 0;
}
.b-post .entry-header {
    margin-bottom: 30px;
}
article.b-post .entry-main .group {
    border-bottom: 1px solid #dadada;
    margin-bottom: 30px;
}
article.b-post .entry-main .group:last-child {
    border-bottom: 0;
}
article.b-post .entry-main .group .entry-title-inner {
    color: #1565c0;
}
.entry-title-inner:before {
    display: inline-block;
    font-weight: 700;
    content: counter(list) ". ";
    counter-increment: list;
}
article.b-post blockquote.sub-title {
    background-color: #f5f6f7;
    border-left: 3px solid #ff6a00;
    border-radius: 4px;
    color: #3c4043;
    font-weight: 500;
    padding: 12px 10px 12px 20px;
    margin-bottom: 1rem;
}
article.b-post blockquote.sub-title i.fa {
    color: rgb(255, 172, 58);
    font-size: 120%;
    margin-right: 5px;
}
.price-list-page article.b-post-full .entry-footer__group,
.installment-page article.b-post-full .entry-footer__group {
    padding-top: 0;
}
.price-list-page article.b-post-full .entry-footer__group .entry-footer__link,
.installment-page article.b-post-full .entry-footer__group .entry-footer__link {
    margin-right: 21px;
}
.price-list-page article.b-post .entry-header,
.installment-page article.b-post .entry-header {
    margin-bottom: 0;
}
.price-list-page article.b-post-full .entry-footer,
.installment-page article.b-post-full .entry-footer {
    margin-top: 10px;
    margin-bottom: 40px;
}
.registration-form form {
    margin-top: 20px;
}
.registration-form .form-group label {
    font-weight: normal;
}
.registration-form .form-group .label-group {
    padding-left: 15px;
}
.registration-form .form-group .forms__label-radio {
    margin-right: 25px;
    padding-left: 25px;
}
.b-bnr {
    height: auto;
}
.b-bnr__info {
    font-size: 15px;
    font-weight: normal;
}
.b-bnr .b-bnr__list .list {
    margin-bottom: 20px;
}
.b-bnr .b-bnr__list .list .title {
    font-size: 18px;
    color: #fff;
}
.b-bnr .b-bnr__list .list .title .icon {
    display: inline-block;
    width: 6px;
    height: 6px;
    margin-top: -3px;
    margin-right: 5px;
    -webkit-transition: all .3s;
    transition: all .3s;
    vertical-align: middle;
    background-color: #ffffff;
}
.b-bnr blockquote {
    background-color: rgba(0, 119, 239, 0.27);
    border-left: 3px solid #ff6a00;
    border-radius: 4px;
    color: #ffffff;
    font-weight: 500;
    padding: 12px 10px 12px 12px;
}
.b-post-1 .entry-title {
    margin-top: 0;
    padding: 15px 15px 8px 15px;
}
.b-post-1 .entry-title:before {
    content: none;
}
.b-post .entry-header {
    margin-bottom: 0;
}
.b-post-1 .entry-content {
    padding-right: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    letter-spacing: .005em;
}
.b-post-1 .entry-footer {
    padding: 10px 15px 0px;
}
.b-post-1 .entry-main {
    padding: 0;
}
.carousel-news {
    margin-top: 30px;
    padding-bottom: 30px;
}
.section-news_mod-a {
    padding-top: 50px;
}
.modal .registration-form {
    padding: 0 20px;
}
.modal .registration-form .title {
    margin-top: 0;
    color: #1565c0;
}
.modal .registration-form .sub-title {
    margin-bottom: 30px;
}
.modal .modal-header {
    padding-bottom: 30px;
    border: none;
}
.modal button.close {
    float: right;
    font-size: 25px;
    opacity: .2;
}
.modal .close:hover, .modal .close:focus {
    color: #222;
    opacity: .2;
}
.required {
    color: red;
}
.list-goods_th .b-goods-1__name {
    margin-top: 10px;
}
.list-goods_th .b-goods-1_mod-a .b-goods-1__header {
    margin-bottom: 10px;
}
.b-goods-1_mod-a .b-goods-1__info p + p {
    margin-top: 5px;
}
.list-goods_th .b-goods-1__price_th {
    padding-right: 0;
}
.b-goods-1__price_th .b-goods-1__price-msrp {
    color: #1565c0;
}
.b-goods-1__img .b-goods-1__price-msrp {
    color: #fff;
}
.list-goods_th .b-goods-1 {
    display: inline-block;
    width: auto;
    margin-right: -3px;
    padding: 20px;
    padding-bottom: 10px;
    vertical-align: top;
    border-bottom: none;
    /* border: solid; */
    margin-bottom: 30px;
}
.panel-group .panel-custom {
    margin-bottom: 0;
    padding-bottom: 15px;
    background-color: rgb(255, 255, 255);
    border: none;
}
.l-theme-custom .b-brands__item {
    border: 1px solid #ddd;
}
.l-theme-custom .owl-theme .owl-nav div {
    border: 1px solid #999;
}
.l-theme-custom .table-type-2 > thead:first-child > tr:first-child > th {
    border-top: 1px solid #888;
    border-right: 1px solid #888;
    border-bottom-width: 4px;
    border-left: 1px solid #888;
}
.l-theme-custom .table-type-2 > tbody > tr > td {
    border: 1px solid #888;
}
.l-theme-custom .header-topbarbox-1, .l-theme-custom .header-topbarbox-2 {
    padding: 15px 0 15px;
}
.l-theme-custom .top-bar li {
    font-size: 15px;
}
.sidebar .contact-info-boxes {
    position: fixed;
    width: 19%;
    box-shadow: -2px 4px 10px rgba(0, 0, 0, 0.15);
}
.sidebar .contact-info-boxes,
.sidebar .contact-info {
    border: 1px #eee solid;
    color: #000;    
    background-color: #ffffff;
    height: auto;    
    padding: 25px 20px;
    z-index: 100;
    overflow: hidden;    
    box-sizing: border-box;    
    z-index: 900;
}
.sidebar .contact-info-boxes .business-man__img,
.sidebar .contact-info .business-man__img {
    overflow: hidden;
    text-align: center;
}
.sidebar .contact-info-boxes .business-man__img img,
.sidebar .contact-info .business-man__img img {
    width: 260px;
    /*border-radius: 50%;*/
}
.sidebar .contact-info-boxes blockquote,
.sidebar .contact-info blockquote {
    padding: 0;
    margin: 10px 0 12px;
    position: relative;
    font-weight: 400;
}
.sidebar .contact-info-boxes blockquote cite,
.sidebar .contact-info blockquote cite {
    text-align: center;
}
.sidebar .contact-info-boxes .b-blockquote__author,
.sidebar .contact-info .b-blockquote__author {
    display: block;
    font: 600 18px Roboto;
    color: #222;
    text-transform: uppercase;
}
.sidebar .contact-info-boxes .b-blockquote__category,
.sidebar .contact-info .b-blockquote__category {
    display: block;
    margin: 2px 0 16px;
    font: 500 15px Roboto;
    color: #888;
}
.sidebar .contact-info-boxes .b-blockquote__hotline,
.sidebar .contact-info .b-blockquote__hotline {
    display: block;
    margin-bottom: 16px;
    font-size: 20px;
    font-weight: bold;
    color: red;
}
.sidebar .contact-info-boxes .list-mark li,
.sidebar .contact-info .list-mark li {
    font-size: 15px;
    padding-left: 20px;
}
.sidebar .contact-info-boxes .list-mark li:before,
.sidebar .contact-info .list-mark li:before {
    font-family: FontAwesome;
    content: "\f058";
}
.sidebar .contact-info-boxes a.btn,
.sidebar .contact-info a.btn {
    width: 100%;
    font: 14px Roboto;
    line-height: 20px;
}
.about-us {
    padding-top: 60px;
}
.about-us .top-content .list {
    margin-bottom: 0;
}
.list-mark-5 li {
    text-align: justify;
}
.about-us .top-content img {
    box-shadow: -6px 6px 10px rgba(0, 0, 0, 0.15);
    border: 1px solid #eee;
}
.about-us .content {
    padding-top: 25px;
}
.about-us .content p {
    text-align: justify;
}
.about-us .content p+p {
    margin-top: 15px;
}
.about-us .bottom-content {
    margin-top: 30px;
    padding-top: 20px;
    border-top: 4px #eee dashed;
}
.telto {
    color: #ff0000 !important;
    font-weight: 700;
}
.list li > a {
    color: #1565c0;
}
.b-post-full .entry-content img {
    max-width: 100%;
}
.b-post-full .entry-content p+p {
    margin-top: 10px;
}
.b-post-full .entry-content ul {
    padding-left: 0px;
    margin-left: 20px;
}
.installment-page .b-post-full .entry-content img {
    border: 1px solid #13ff00;
}
.price-list-page .entry-main .group table .price {
    color: #ff0000;
}
.filter-goods__page {
    float: right;
    padding: 12px 0 0 10px;
    letter-spacing: .01em;
}
.filter-goods__info h2 {
    font-size: 20px;
    margin: 0;
}
.b-info_mod-a {
    margin: 15px -90px 0 0;
    padding: 40px 25% 40px 35%;
}
.b-info_mod-b {
    padding: 30px 34% 80px 23%;
}
.b-info .btn {
    margin-top: 10px;
}
.b-car-info__desc {
    padding: 40px 15px 23px;
    text-transform: none;
}
.b-car-info .b-car-info__desc-dt {
    width: 140px;
    line-height: 1.4;
    color: #222;
}
.b-car-info .b-car-info__desc-dd {
    line-height: 1.4;
    font-weight: normal;
}
.b-car-details .b-car-details__section img {
    max-width: 100%;
}