<div class="section-title-page area-bg area-bg_dark area-bg_op_70">
    <div class="area-bg__inner">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h1 class="b-title-page bg-primary_a">Liên hệ</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end .b-title-page-->

<div class="bg-grey">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <ol class="breadcrumb">
                    <li><a href="home.html"><i class="icon fa fa-home"></i></a>
                    </li>
                    <li class="active">Liên hệ</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<!-- end breadcrumb-->

<div class="section-area">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <section class="section-type-1">
                    <h2 class="ui-title-block-2">THÔNG TIN LIÊN HỆ</h2>
                    <div class="ui-decor"></div>
                    <div class="accordion accordion-1">
                        <h3 class="company-name text-uppercase">Ford Gia Định</h3>
                        <ul class="b-rent__list list-unstyled">
                            <li>Mr. Nguyễn Phan Phúc Tường (Chuyên viên Kinh doanh)</li>
                            <li>Điện thoại: 090 525 0593</li>
                            <li>Email: tuong.npp@giafordhcm.com</li>
                            <li><span class="contact-address">Địa chỉ:</span> 900 Quốc lộ 1A, Phường Thạnh Xuận, Quận 12, TP Hồ Chí Minh</li>
                        </ul>
                    </div>
                    <!-- end .accordion-->
                </section>
            </div>
            <div class="col-md-6">
                <section class="section-type-1">
                    <h2 class="ui-title-block-2">GỬI YÊU CẦU TRỢ GIÚP</h2>
                    <div class="ui-decor"></div>
                    <div id="success"></div>
                    <%= form_for '', url: erp_giafordhcm.contact_us_path,
                        html: {class: "b-form-checkup ui-form-3", id: "ajax-contact-form",  autocomplete: "off"} do |f| %>
                        <div class="form-group">
                            <input class="form-control" type="text" name="contact[name]" placeholder="Nhập họ & tên" />
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input class="form-control" type="email" name="contact[email]" placeholder="Nhập địa chỉ email" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input class="form-control" type="tel" name="contact[phone]" placeholder="Nhập số điện thoại" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <select class="selectpicker" data-width="100%" name="message[subject]">
                                        <option value="" selected>-- Vui lòng chọn chủ đề --</option>
                                        <option value="Yêu cầu báo giá">Yêu cầu báo giá</option>
                                        <option value="Ước tính trả góp">Ước tính trả góp</option>
                                        <option value="Đăng ký lái thử">Đăng ký lái thử</option>
                                        <option value="Nội dung khác">Nội dung khác</option>
                                    </select>
                                </div>
                                <textarea class="form-control" rows="4" name="message[message]" placeholder="Vui lòng cung cấp nội dung yêu cầu, câu hỏi hoặc góp ý của bạn tại đây"></textarea>
                                <div class="form-notice"></div>
                                <button class="btn btn-standard" type="submit">Xác nhận & Gửi</button>
                            </div>
                        </div>
                    <% end %>
                </section>
            </div>
        </div>
    </div>
</div>