<form class="ui-form-3" id="contactForm" action="#" method="post">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    </div>
    <div class="modal-body">
        <div class="registration-form">
            <h2 class="title text-center text-uppercase">
                <% if params[:type] == 'quote' %>
                    Yêu cầu báo giá
                <% elsif params[:type] == 'test_drive' %>
                    Đăng ký lái thử
                <% end %>
            </h2>
            <div class="sub-title text-center">Để nhận được "BÁO GIÁ ĐẶC BIỆT" và các "CHƯƠNG TRÌNH ƯU ĐÃI", Quý khách vui lòng điền form báo giá dưới đây:</div>
                <div class="form-group">
                    <label>Họ và tên <span class="required">*</span> </label>
                    <input class="form-control" id="user-name" type="text" name="user-name" placeholder="Họ và tên" required="required" />
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Số điện thoại <span class="required">*</span> </label>
                            <input class="form-control" id="user-phone" type="tel" name="user-phone" placeholder="Số điện thoại" required="required" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Email: </label>
                            <input class="form-control" id="user-email" type="email" name="user-email" placeholder="Địa chỉ email" required="required" />
                        </div>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Dòng xe <span class="required">*</span> </label>
                            <select class="select2" data-width="100%">
                                <option value=""> --- Chọn dòng xe quan tâm --- </option>
                                <% Erp::Products::Category.where.not(parent_id: nil).each do |category| %>
                                    <option value="<%= category.id %>"><%= category.name %></option>
                                <% end %>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Địa chỉ <span class="required">*</span> </label>
                            <select class="select2" data-width="100%" data-live-search="true" title='Choose one of the following...'>
                                <option value=""> --- Chọn tỉnh/thành phố --- </option>
                                <% Erp::Areas::State.get_all.each do |state| %>
                                    <option value="<%= state.id %>"><%= state.name %></option>
                                <% end %>
                            </select>
                        </div>
                    </div>
                </div>
                
                <div class="form-group">
                    <label>Hình thức thanh toán <span class="required">*</span> </label>
                    <span class="label-group">
                        <div class="row">
                            <div class="col-md-6">
                                <input class="forms__radio hidden" id="forms__radio-5" type="radio" name="radio-group-1" value="" checked="checked" />
                                <label class="forms__label forms__label-radio forms__label-radio-3" for="forms__radio-5">Trả góp</label>
                            </div>
                            <div class="col-md-6">
                                <input class="forms__radio hidden" id="forms__radio-6" type="radio" name="radio-group-1" value="" />
                                <label class="forms__label forms__label-radio forms__label-radio-3" for="forms__radio-6">Trả hết</label>
                            </div>
                        </div>
                    </span>
                </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Bỏ qua</button>
        <button type="button" class="btn btn-standard">Gửi yêu cầu</button>
    </div>
</form>