<div class="section-title-page area-bg area-bg_dark area-bg_op_70">
    <div class="area-bg__inner">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h1 class="b-title-page bg-primary_a">Bảng giá</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end .b-title-page-->
<div class="bg-grey">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <ol class="breadcrumb">
                    <li><a href="<%= erp_giafordhcm.root_path %>"><i class="icon fa fa-home"></i></a></li>
                    <li class="active">Bảng giá xe Ford</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<!-- end breadcrumb-->
<div class="container">
    <main class="l-main-content price-list-page">
        <article class="b-post b-post-full clearfix">
            <div class="entry-main">
                <div class="entry-header">
                    <h2 class="entry-title mt-0">Bảng giá xe Ford tại Gia Định Ford</h2>
                </div>
                <div class="entry-footer">
                    <div class="entry-footer__group">
                        <a class="entry-footer__link" href="#"><i class="icon fa fa-facebook-square text-primary"></i> Share to Facebook</a>
                        <a class="entry-footer__link" href="#"><i class="icon fa fa-google-plus-square text-primary"></i> Share to Google+</a>
                        <a class="entry-footer__link" href="#"><i class="icon fa fa-twitter-square text-primary"></i> Share to Twitter</a>
                    </div>
                    <div class="entry-footer__group"></div>
                </div>
                <div class="entry-content">
                    <% (1..4).each do |model| %>
                        <div class="group">
                            <h3 class="entry-title-inner"> FORD FOCUS</h3>
                            <blockquote class="sub-title">
                                <i class="fa fa-lightbulb-o"></i> Gọi ngay giá thương lượng - Tặng phim cách nhiệt, ốp càn sau bô đuôi, nẹp chống trầy cốp sau, thảm lót sàn, túi cứu hộ, áo trùm xe, camera lùi, camera hành trình & đặc biệt ưu đãi gói bảo hiểm vật chất
                            </blockquote>
                            <div class="b-post__section">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <img class="img-post img-responsive" src="/frontend/assets/media/components/b-goods/ford-everest-ambiente.jpg" alt="foto" />
                                    </div>
                                    <div class="col-sm-9">
                                        <div class="table-container">
                                            <table class="table table_secondary table-type-2 table-striped typography-last-elem">
                                                <thead>
                                                    <tr>
                                                        <th>Mẫu xe</th>
                                                        <th class="text-center">Giá bán khuyến mãi</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>Focus Trend 1.5L 5 Cửa</td>
                                                        <td class="text-center">560,000,000</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Focus Trend 1.5L 4 Cửa</td>
                                                        <td class="text-center">560,000,000</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Focus 1.5L Sport 5 Cửa</td>
                                                        <td class="text-center">720,000,000</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <% end %>
                </div>
            </div>
        </article>
        <!-- end .post-->
    </main>
    <!-- end .l-main-content-->
</div>