<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="section-advantages-1 text-center">
                <section class="b-advantages-1"><i class="b-advantages-1__icon flaticon-inspection"></i>
                    <h3 class="b-advantages-1__title text-uppercase">Yêu cầu báo giá</h3>
                </section>
                <!-- end .b-advantages-->
                <section class="b-advantages-1 text-center active"><i class="b-advantages-1__icon flaticon-handshake"></i>
                    <h3 class="b-advantages-1__title text-uppercase">Ước tính trả góp</h3>
                </section>
                <!-- end .b-advantages-->
                <section class="b-advantages-1 text-center"><i class="b-advantages-1__icon flaticon-wheel-and-manometer"></i>
                    <h3 class="b-advantages-1__title text-uppercase">Đăng ký lái thử</h3>
                </section>
                <!-- end .b-advantages-->
            </div>
            <!-- end .section-advantages-1-->
        </div>
    </div>
</div>