<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="section-advantages-1 text-center">
                <a href="<%= erp_giafordhcm.registration_form_path %>" class="dang-ky-button">
                    <section class="b-advantages-1"><i class="b-advantages-1__icon flaticon-inspection"></i>
                        <h3 class="b-advantages-1__title text-uppercase">Yêu cầu báo giá</h3>
                    </section>
                </a>
                <a href="#">
                    <section class="b-advantages-1 text-center center"><i class="b-advantages-1__icon flaticon-handshake"></i>
                        <h3 class="b-advantages-1__title text-uppercase">Thủ tục trả góp</h3>
                    </section>
                </a>
                <a href="<%= erp_giafordhcm.price_list_path %>">
                    <section class="b-advantages-1 text-center"><i class="b-advantages-1__icon flaticon-wheel-and-manometer"></i>
                        <h3 class="b-advantages-1__title text-uppercase">Bảng giá xe ford</h3>
                    </section>
                </a>
            </div>
        </div>
    </div>
</div>