<div class="section-default">
    <div class="b-brands owl-carousel owl-theme enable-owl-carousel"
        data-min768="2" data-min992="5" data-min1200="6"
        data-margin="30" data-pagination="false" data-navigation="false"
        data-auto-play="4000" data-stop-on-hover="true"
    >
        <% Erp::Menus::Menu.get_active.where.not(parent_id: nil, menu_icon: nil).each do |menu| %>
            <div class="b-brands__item">
                <div class="b-brands__img">
                    <a href="<%= menu_link(menu) %>">
                        <img class="img-responsive"
                            src="<%= menu.menu_icon %>"
                            alt=""
                        />
                    </a>
                </div>
            </div>
        <% end %>
    </div>
</div>