<div class="info-group block-table block-table_md">
    <div class="info-group__section col-md-6">
        <section class="b-info b-info_mod-a area-bg area-bg_op_80 area-bg_prim parallax" style="background-image: url(/frontend/assets/media/content/bg/bg-4.jpg)">
            <div class="area-bg__inner">
                <h2 class="b-info__title">Bạn đang quan tâm về giá cả?<strong class="b-info__title_lg">Hãy yêu cầu báo giá</strong></h2>
                <!--<div class="b-info__desc">MotorLand is nisi aliquip exa con velit esse cillum dolore fugiatal sint occaecat excepteur ipsum dolor sit amet consectetur.</div>-->
                <a class="btn btn-white dang-ky-button" href="<%= erp_giafordhcm.registration_form_path(type: 'quote') %>">Gửi yêu cầu</a>
            </div>
        </section>
    </div>
    <div class="info-group__section col-md-6">
        <section class="b-info b-info_mod-b area-bg area-bg_op_80 area-bg_dark-2 parallax" style="background-image: url(/frontend/assets/media/content/bg/bg-3.jpg)">
            <div class="area-bg__inner">
                <h2 class="b-info__title">Bạn muốn trải nghiệm thực tế?<strong class="b-info__title_lg">Hãy đăng ký lái thử</strong></h2>
                <!--<div class="b-info__desc">MotorLand is nisi aliquip exa con velit esse cillum dolore fugiatal sint occaecat excepteur ipsum dolor sit amet consectetur.</div>-->
                <a class="btn btn-white dang-ky-button" href="<%= erp_giafordhcm.registration_form_path(type: 'test_drive') %>">Đăng ký ngay</a>
            </div>
        </section>
    </div>
</div>
<!-- end .b-info-group-->