<div class="main-slider main-slider-1">
    <div class="slider-pro" id="main-slider"
        data-slider-width="100%"
        data-slider-height="700px"
        data-slider-arrows="true"
        data-slider-buttons="false"
    >
        
        <div class="sp-slides">
            <% @sliders.each_with_index do |slider,index| %>
                <div class="sp-slide">
                    <img class="sp-image" src="<%= slider.image_url %>" alt="slider" />
                    <div class="main-slider__wrap sp-layer"
                        data-width="60%"
                        data-position="centerLeft"
                        data-horizontal="20%"
                        data-show-transition="left"
                        data-hide-transition="left"
                        data-show-duration="2000"
                        data-show-delay="1200"
                        data-hide-delay="400"
                    >
                        <div class="main-slider__title"><%= slider.name %>
                            <!--<span class="main-slider__label bg-primary">model 2019</span>-->
                        </div>
                        <% if slider.note.present? %>
                            <div class="main-slider__subtitle"><%= slider.note %></div>
                        <% end %>
                        <a class="main-slider__btn btn btn-white btn-lg dang-ky-button" href="<%= erp_giafordhcm.registration_form_path %>">
                            Yêu cầu báo giá
                        </a>
                        <a class="main-slider__btn btn btn-primary btn-lg" href="#">
                            Đăng ký lái thử
                        </a>
                    </div>
                </div>
            <% end %>
        </div>
    </div>
</div>
<!-- end .main-slider-->