<div class="main-slider main-slider-2">
    <div class="slider-pro" id="main-slider" data-slider-width="100%" data-slider-height="700px" data-slider-arrows="true" data-slider-buttons="false">
        <div class="sp-slides">
            <!-- Slide 1-->
            <div class="sp-slide">
                <img class="sp-image" src="/frontend/assets/media/components/b-main-slider/2.jpg" alt="slider" />
                <div class="main-slider__wrap sp-layer" data-width="40%" data-position="centerLeft" data-horizontal="0" data-show-transition="left" data-hide-transition="left" data-show-duration="2000" data-show-delay="1200" data-hide-delay="400">
                    <div class="main-slider__title">BMW<span class="main-slider__title-number text-primary">7</span>series<span class="main-slider__label">model 2018</span>
                    </div>
                    <div class="main-slider__price"><span class="main-slider__price-currency">$</span><span class="main-slider__price-number">375</span><span class="main-slider__price-inner"><span class="main-slider__price-title">Monthly</span><span class="main-slider__price-subtitle">Lowest Markup</span></span>
                    </div><a class="main-slider__btn btn btn-lg btn-primary" href="services.html">learn more</a>
                </div>
            </div>
            <!-- Slide 2-->
            <div class="sp-slide">
                <img class="sp-image" src="/frontend/assets/media/components/b-main-slider/1.jpg" alt="slider" />
                <div class="main-slider__wrap sp-layer" data-width="40%" data-position="centerLeft" data-horizontal="0" data-show-transition="left" data-hide-transition="left" data-show-duration="2000" data-show-delay="1200" data-hide-delay="400">
                    <div class="main-slider__title">BMW<span class="main-slider__title-number text-primary">7</span>series<span class="main-slider__label">model 2018</span>
                    </div>
                    <div class="main-slider__price"><span class="main-slider__price-currency">$</span><span class="main-slider__price-number">375</span><span class="main-slider__price-inner"><span class="main-slider__price-title">Monthly</span><span class="main-slider__price-subtitle">Lowest Markup</span></span>
                    </div><a class="main-slider__btn btn btn-lg btn-primary" href="services.html">learn more</a>
                </div>
            </div>
        </div>
    </div>
</div>

<!--
<div class="main-slider main-slider-1">
    <div class="slider-pro" id="main-slider" data-slider-width="100%" data-slider-height="700px" data-slider-arrows="true" data-slider-buttons="false">
        <div class="sp-slides">
            <div class="sp-slide">
                <img class="sp-image" src="/frontend/assets/media/components/b-main-slider/1.jpg" alt="slider" />
                <div class="main-slider__wrap sp-layer" data-width="" data-position="centerLeft" data-horizontal="62%" data-show-transition="left" data-hide-transition="left" data-show-duration="2000" data-show-delay="1200" data-hide-delay="400">
                    <div class="main-slider__title">mercedes benz<span class="main-slider__label bg-primary">model 2018</span>
                    </div>
                    <div class="main-slider__subtitle">smart drive</div><a class="main-slider__btn btn btn-white btn-lg" href="services.html"><span class="main-slider__btn-label">Starting</span><span class="main-slider__btn-price"> $<strong>560/M</strong></span></a><a class="main-slider__btn btn btn-primary btn-lg"
                    href="services.html">book now</a>
                </div>
            </div>
            <div class="sp-slide">
                <img class="sp-image" src="/frontend/assets/media/components/b-main-slider/2.jpg" alt="slider" />
                <div class="main-slider__wrap sp-layer" data-width="" data-position="centerLeft" data-horizontal="62%" data-show-transition="left" data-hide-transition="left" data-show-duration="2000" data-show-delay="1200" data-hide-delay="400">
                    <div class="main-slider__title">mercedes benz<span class="main-slider__label bg-primary">model 2018</span>
                    </div>
                    <div class="main-slider__subtitle">smart drive</div><a class="main-slider__btn btn btn-white" href="services.html">Starting<span class="main-slider__btn-price"> $<strong>560/M</strong></span></a><a class="main-slider__btn btn btn-primary" href="services.html">book now</a>
                </div>
            </div>
        </div>
    </div>
</div>
-->
<!-- end .main-slider-->