<div class="section-default">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <section class="section-list-brands">
                    <h2 class="ui-title-block">Chương trình và ưu đãi</h2>
                    <div class="ui-subtitle-block">Với hoạt động bán hàng sôi nổi, Gia Định Ford luôn cập nhật sớm nhất các chương trình khuyến mãi của hãng và đại lý </div>
                    <div class="ui-decor"></div>
                    <div class="panel-group accordion accordion-1" id="accordion-1">
                        <div class="panel-custom">
                            <div class="panel-heading">
                                <h3 class="panel-title">
                                    <a class="btn-collapse" data-toggle="collapse" data-parent="#accordion-1" href="#collapse-1">
                                        <i class="icon"></i>Giá ưu đãi - Giao xe sớm nhất
                                    </a>
                                </h3>
                            </div>
                            <div class="panel-collapse collapse in" id="collapse-1">
                                <div class="panel-body">
                                    <p>Ford Phú Mỹ cam kết sẽ mang lại mức giá ưu đãi nhất cho Anh/Chị với thời gian giao xe nhanh nhất.</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel-custom">
                            <div class="panel-heading">
                                <h3 class="panel-title">
                                    <a class="btn-collapse collapsed" data-toggle="collapse" data-parent="#accordion-1" href="#collapse-2">
                                        <i class="icon"></i>Nhiều chương trình khuyến mãi nhất
                                    </a>
                                </h3>
                            </div>
                            <div class="panel-collapse collapse in" id="collapse-2">
                                <div class="panel-body">
                                    <p>Với hoạt động bán hàng sôi nổi, Gia Định Ford luôn cập nhật sớm nhất các khuyến mãi của hãng và đại lý.</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel-custom">
                            <div class="panel-heading">
                                <h3 class="panel-title">
                                    <a class="btn-collapse collapsed" data-toggle="collapse" data-parent="#accordion-1" href="#collapse-3">
                                        <i class="icon"></i>Mua xe trả góp với lãi xuất thấp
                                    </a>
                                </h3>
                            </div>
                            <div class="panel-collapse collapse in" id="collapse-3">
                                <div class="panel-body">
                                    <p>Khi Quý vị mua xe trả góp, Gia Định Ford sẽ hỗ trợ tính toán mức trả góp có lợi và thủ tục nhanh gọn nhất.</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel-custom">
                            <div class="panel-heading">
                                <h3 class="panel-title">
                                    <a class="btn-collapse collapsed" data-toggle="collapse" data-parent="#accordion-1" href="#collapse-4">
                                        <i class="icon"></i>Lái thử xe Ford miễn phí tận nhà
                                    </a>
                                </h3>
                            </div>
                            <div class="panel-collapse collapse in" id="collapse-4">
                                <div class="panel-body">
                                    <p>Lái thử xe là một bước cực kì quan trọng. Gia Định Ford sẽ hỗ trợ Quý vị lái thử xe Ford miễn phí tận nhà.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="col-md-5 col-md-offset-1">
                <div class="b-bnr">
                    <div class="b-bnr__label">Lý do nên</div>
                    <div class="b-bnr__title">Mua xe trả góp</div>
                    <div class="b-bnr__list">
                        <div class="list">
                            <h3 class="title">
                                <i class="icon"></i> Chương trình cho vay mua xe
                            </h3>
                            <p>Trả trước 0 - 5%, sở hữu xe ngay! Lãi suất cố định chỉ từ 7,488%/ năm trong suốt khoảng thời gian vay.</p>
                        </div>
                        <div class="list">
                            <h3 class="title">
                                <i class="icon"></i> Thủ tục mua xe trả góp
                            </h3>
                            <p>Chỉ cần CMND, Hộ Khẩu người mua xe, còn lại tất cả các thủ tục khác hãy để chúng tôi thực hiện thay cho Quý khách.</p>
                        </div>
                        <div class="list">
                            <h3 class="title">
                                <i class="icon"></i> Cam kết duyệt thành công 100%
                            </h3>
                            <p>Liên kết với các ngân hàng lớn uy tín nhất. Hỗ trợ ngay cả với những trường hợp đặc biệt, khó vay, nợ xấu.</p>
                        </div>
                        <div class="list">
                            <h3 class="title">
                                <i class="icon"></i> Thời hạn vay lên đến 8 năm, tất toán trước hạn miễn phí.
                            </h3>
                            <p>Cam kết mức giá tốt nhất, không phát sinh chi phí ngoài dự kiến. Hỗ trợ tư vấn vay mua trả góp 24/24 tận nơi.</p>
                        </div>
                    </div>
                    
                    <blockquote>
                        <div class="b-bnr__info">Sở hữu xe ô tô Ford với nhiều ưu đãi hấp dẫn, luôn cam kết mang lại mức giá ưu đãi nhất cho quý khách với thời gian giao xe nhanh nhất trong 1 ngày.</div>
                        <i class="fa fa-phone-square"></i>  Quý khách hãy gọi ngay - 090 525 0593 để có giá và khuyến mãi tốt nhất!
                    </blockquote>
                </div>
                <!-- end .b-banner-->
            </div>
        </div>
    </div>
</div>