<div class="section-title-page area-bg area-bg_dark area-bg_op_70">
    <div class="area-bg__inner">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h1 class="b-title-page bg-primary_a">Ten bai viet</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end .b-title-page-->
<div class="bg-grey">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <ol class="breadcrumb">
                    <li><a href="<%= erp_giafordhcm.root_path %>"><i class="icon fa fa-home"></i></a>
                    </li>
                    <li><a href="<%= erp_giafordhcm.blog_path %>">Tin tức</a>
                    </li>
                    <li class="active">Ten bai viet</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<!-- end breadcrumb-->
<section class="section-default">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <main class="l-main-content">
                    <article class="b-post b-post-full clearfix">
                        <div class="entry-media">
                            <a class="js-zoom-images" href="/frontend/assets/media/content/posts/750x380/1.jpg">
                                <img class="img-responsive" src="/frontend/assets/media/content/posts/750x380/1.jpg" alt="Foto" />
                            </a>
                        </div>
                        <div class="entry-main">
                            <div class="entry-meta">
                                <div class="entry-meta__group-left"><span class="entry-meta__item">Post by<a class="entry-meta__link" href="blog-main.html"> Thomas Neil</a></span><span class="entry-meta__item">On<a class="entry-meta__link" href="blog-main.html"> August 22, 2017</a></span>
                                    <span
                                    class="entry-meta__categorie bg-primary">Ford News</span>
                                </div>
                                <div class="entry-meta__group-right"><span class="entry-meta__item"><i class="icon fa fa-heart"></i><a class="entry-meta__link" href="blog-main.html"> 205</a></span><span class="entry-meta__item"><i class="icon fa fa-comment-o"></i>Comments<a class="entry-meta__link" href="blog-main.html"> 518</a></span>
                                </div>
                            </div>
                            <div class="entry-header">
                                <h2 class="entry-title"><a href="blog-post.html">General Motors First In Self-Driving Cars</a></h2>
                            </div>
                            <div class="entry-content">
                                <p>Duis aute irure reprehender voluptate velit esacium fugiat nula pariatur excepteurd magna aliqua ut enimad minim veniam quis Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
                                    ut labore et dolore magna aliqua enim ad minim veniam, quis nostrud exercitation ullamco laboris. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
                                    magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                                <div class="b-blockquote b-blockquote-2">
                                    <blockquote>
                                        <p>Motorland uis aute irure reprehender voluptate velit dolore ese acium fugiat nulla pariatury lorem excepteur ipsum et dolore magna aliqua. Ut enim quis nos minim veniam quis nostrud exercitation ullamco
                                            laboris sed ipsum aliqua veniam.</p>
                                        <cite class="b-blockquote__cite" title="Blockquote Title"><span class="b-blockquote__author">James Liam</span></cite>
                                    </blockquote>
                                </div>
                                <!-- end .b-blockquote-->
                                <h3 class="entry-title-inner">Best Car Buying Guide</h3>
                                <p>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua enim ad minim veniam, quis nostrud exercitation ulam laboris. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
                                    ut labore et dolore mag aliquaut enim ad minim veniam quis nostrud exercitation ullamco.</p>
                                <div class="b-post__section">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <img class="img-post img-responsive" src="/frontend/assets/media/content/posts/360x270/1.jpg" alt="foto" />
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="b-post__group-1"><strong>Consectetur elit sed eiusmod tempor incididunt labore et dolore mag aliqua sed ipsum.</strong>
                                                <ul class="list list-mark-5 list_mark-prim">
                                                    <li>Drivetrain Oil Cooler: Auxiliary</li>
                                                    <li>Engine Alternator: 160 Amps</li>
                                                    <li>Exterior Mirrors Manual Folding</li>
                                                    <li>Seatbelts Seatbelt Warning Sensors</li>
                                                    <li>Front Headrests Adjustable</li>
                                                    <li>Cruise Control System</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit sed do eiusmod tempor incididunt ut laboret dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                                    comodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                                <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui offic deserunt mollit anim id est laborum. Sed perspiciats unde omnis iste natus error sit voluptatem accusantium.</p>
                            </div>
                        </div>
                        <div class="entry-footer">
                            <div class="entry-footer__group"><i class="icon fa fa-tags text-primary"></i><span class="entry-footer__title">tags:</span><a class="entry-footer__tags" href="blog-post.html">Buy Car</a><a class="entry-footer__tags" href="blog-post.html">sell Car</a>
                                <a
                                class="entry-footer__tags" href="blog-post.html">autos</a><a class="entry-footer__tags" href="blog-post.html">motors</a>
                            </div>
                            <div class="entry-footer__group"><i class="icon fa fa-share-alt text-primary"></i><a class="entry-footer__link" href="blog-post.html">Share This Post</a>
                            </div>
                        </div>
                    </article>
                </main>
            </div>
            <div class="col-md-4">
                <aside class="l-sidebar-3 pt-0">
                    <div class="sidebar">
                        <div class="contact-info">
                            <div class="business-man__img">
                                <img src="/frontend/assets/media/components/b-blockquote/mrtuong.jpg" width="200px" alt="" />
                            </div>
                            <blockquote>
                                <cite class="b-blockquote__cite" title="Blockquote Title">
                                    <span class="b-blockquote__author">Mr. Tường Nguyễn</span>
                                    <span class="b-blockquote__category">Chuyên viên Kinh doanh</span>
                                    <a href="tel:090 525 0593">
                                        <span class="b-blockquote__hotline">
                                            <i class="flaticon-smartphone"></i> 090 525 0593
                                        </span>
                                    </a>
                                </cite>
                                <ul class="list list-mark">
                                    <li>Giá xe Ford tốt nhất thị trường.</li>
                                    <li>Nhiều khuyến mãi và ưu đãi nhất.</li>
                                    <li>Trả góp lãi suất thấp nhất.</li>
                                </ul>
                            </blockquote>
                            <a class="btn btn-standard btn-xs mb-5 dang-ky-button" href="<%= erp_giafordhcm.registration_form_path %>">Yêu cầu báo giá</a>
                            <a class="btn btn-standard btn-xs dang-ky-button" href="<%= erp_giafordhcm.registration_form_path %>">Đăng ký lái thử</a>
                        </div>
                    </div>
                    
                    <section class="widget section-sidebar">
                        <h3 class="widget-title ui-title-inner">Bài viết khác</h3>
                        <div class="widget-content">
                            
                            <div class="post-widget clearfix">
                                <div class="post-widget__media">
                                    <a href="blog-post.html">
                                        <img class="img-responsive" src="/frontend/assets/media/content/posts/100x80/1.jpg" alt="foto" />
                                    </a>
                                </div>
                                <div class="post-widget__inner"><a class="post-widget__title" href="blog-post.html">2018 Chevrolet Camaro ZL1 1LE: Review</a>
                                    <div class="post-widget__date">On
                                        <time class="post-widget__time" datetime="2017-10-27 15:20">August 22, 2017</time>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </section>
                </aside>
            </div>
        </div>
    </div>
</section>