<div class="section-title-page area-bg area-bg_dark area-bg_op_70">
    <div class="area-bg__inner">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h1 class="b-title-page bg-primary_a">Tin tức</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end .b-title-page-->
<div class="bg-grey">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <ol class="breadcrumb">
                    <li><a href="<%= erp_giafordhcm.root_path %>"><i class="icon fa fa-home"></i></a></li>
                    <li class="active">Tin tức</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<!-- end breadcrumb-->
<section class="section-default">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <main class="l-main-content">
                    <div class="posts-group-2">
                        
                        <section class="b-post b-post-full clearfix">
                            <div class="entry-media">
                                <a class="js-zoom-images" href="/frontend/assets/media/content/posts/750x380/1.jpg">
                                    <img class="img-responsive" src="/frontend/assets/media/content/posts/750x380/1.jpg" alt="Foto" />
                                </a>
                            </div>
                            <div class="entry-main">
                                <div class="entry-meta">
                                    <div class="entry-meta__group-left"><span class="entry-meta__item">Post by<a class="entry-meta__link" href="blog-main.html"> Thomas Neil</a></span><span class="entry-meta__item">On<a class="entry-meta__link" href="blog-main.html"> August 22, 2017</a></span>
                                        <span
                                        class="entry-meta__categorie bg-primary">Ford News</span>
                                    </div>
                                    <div class="entry-meta__group-right"><span class="entry-meta__item"><i class="icon fa fa-heart"></i><a class="entry-meta__link" href="blog-main.html"> 205</a></span><span class="entry-meta__item"><i class="icon fa fa-comment-o"></i>Comments<a class="entry-meta__link" href="blog-main.html"> 518</a></span>
                                    </div>
                                </div>
                                <div class="entry-header">
                                    <h2 class="entry-title"><a href="<%= erp_giafordhcm.blog_detail_path(title: url_friendly('jjjj'), blog_id: 1) %>">General Motors First In Self-Driving Cars</a></h2>
                                </div>
                                <div class="entry-content">
                                    <p>Duis aute irure reprehender voluptate velit esacium fugiat nula pariatur excepteurd magna aliqua ut enimad minim veniam quis Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
                                        ut labore et dolore magna aliqua enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
                                </div>
                                <div class="entry-footer"><a class="btn btn-default" href="blog-post.html">read more</a>
                                </div>
                            </div>
                        </section>
                        
                    </div>
                    
                </main>
            </div>
            <div class="col-md-4">
                <aside class="l-sidebar-3 pt-0">
                    <div class="sidebar">
                        <div class="contact-info">
                            <div class="business-man__img">
                                <img src="/frontend/assets/media/components/b-blockquote/mrtuong.jpg" width="200px" alt="" />
                            </div>
                            <blockquote>
                                <cite class="b-blockquote__cite" title="Blockquote Title">
                                    <span class="b-blockquote__author">Mr. Tường Nguyễn</span>
                                    <span class="b-blockquote__category">Chuyên viên Kinh doanh</span>
                                    <a href="tel:090 525 0593">
                                        <span class="b-blockquote__hotline">
                                            <i class="flaticon-smartphone"></i> 090 525 0593
                                        </span>
                                    </a>
                                </cite>
                                <ul class="list list-mark">
                                    <li>Giá xe Ford tốt nhất thị trường.</li>
                                    <li>Nhiều khuyến mãi và ưu đãi nhất.</li>
                                    <li>Trả góp lãi suất thấp nhất.</li>
                                </ul>
                            </blockquote>
                            <a class="btn btn-standard btn-xs mb-5 dang-ky-button" href="<%= erp_giafordhcm.registration_form_path %>">Yêu cầu báo giá</a>
                            <a class="btn btn-standard btn-xs dang-ky-button" href="<%= erp_giafordhcm.registration_form_path %>">Đăng ký lái thử</a>
                        </div>
                    </div>
                </aside>
            </div>
        </div>
    </div>
</section>