<div class="sidebar">
    <div class="contact-info-boxes">
        <div class="business-man__img">
            <img src="/frontend/assets/media/components/b-blockquote/mrtuong.jpg" width="200px" alt="" />
        </div>
        <blockquote>
            <cite class="b-blockquote__cite" title="Blockquote Title">
                <span class="b-blockquote__author">Mr. Tường Nguyễn</span>
                <span class="b-blockquote__category">Chuyên viên Kinh doanh</span>
                <a href="tel:090 525 0593">
                    <span class="b-blockquote__hotline">
                        <i class="flaticon-smartphone"></i> 090 525 0593
                    </span>
                </a>
            </cite>
            <ul class="list list-mark">
                <li>Giá xe Ford tốt nhất thị trường.</li>
                <li>Nhiều khuyến mãi và ưu đãi nhất.</li>
                <li>Trả góp lãi suất thấp nhất.</li>
            </ul>
        </blockquote>
        <div class="row pl-10 pr-10">
            <div class="col-md-6 pl-5 pr-5">
                <a class="btn btn-standard btn-xs dang-ky-button" href="<%= erp_giafordhcm.registration_form_path(type: 'quote') %>">Yêu cầu báo giá</a>
            </div>
            <div class="col-md-6 pl-5 pr-5">
                <a class="btn btn-standard btn-xs dang-ky-button" href="<%= erp_giafordhcm.registration_form_path(type: 'test_drive') %>">Đăng ký lái thử</a>
            </div>
        </div>
    </div>
</div>