<%= render "erp/giafordhcm/frontend/modules/home/slider" %>
<%= render "erp/giafordhcm/frontend/modules/home/advantages" %>

<section class="section-default">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="text-center">
                    <h2 class="ui-title-block">Everest</h2>
                    <div class="ui-subtitle-block">Tempor incididunt labore dolore magna alique</div>
                    <div class="ui-decor"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="featured-carousel owl-carousel owl-theme owl-theme_w-btn enable-owl-carousel" data-min768="2" data-min992="3" data-min1200="5" data-margin="30" data-pagination="false" data-navigation="true" data-auto-play="4000" data-stop-on-hover="true">
        <div class="b-goods-feat">
            <div class="b-goods-feat__img">
                <img class="img-responsive" src="/frontend/assets/media/components/b-goods/featured-5.jpg" alt="foto" /><span class="b-goods-feat__label">$45,000<span class="b-goods-feat__label_msrp">MSRP $27,000</span></span>
            </div>
            <ul class="b-goods-feat__desc list-unstyled">
                <li class="b-goods-feat__desc-item">35,000 mi</li>
                <li class="b-goods-feat__desc-item">Model: 2017</li>
                <li class="b-goods-feat__desc-item">Auto</li>
                <li class="b-goods-feat__desc-item">320 hp</li>
            </ul>
            <h3 class="b-goods-feat__name"><a href="car-details.html">Lexus GX 490i Hybird</a></h3>
            <div class="b-goods-feat__info">Duis aute irure reprehender voluptate velit ese acium fugiat nulla pariatur excepteur ipsum.</div>
        </div>
        <!-- end .b-goods-featured-->
        <div class="b-goods-feat">
            <div class="b-goods-feat__img">
                <img class="img-responsive" src="/frontend/assets/media/components/b-goods/featured-1.jpg" alt="foto" /><span class="b-goods-feat__label">$45,000<span class="b-goods-feat__label_msrp">MSRP $27,000</span></span>
            </div>
            <ul class="b-goods-feat__desc list-unstyled">
                <li class="b-goods-feat__desc-item">35,000 mi</li>
                <li class="b-goods-feat__desc-item">Model: 2017</li>
                <li class="b-goods-feat__desc-item">Auto</li>
                <li class="b-goods-feat__desc-item">320 hp</li>
            </ul>
            <h3 class="b-goods-feat__name"><a href="car-details.html">Lexus GX 490i Hybird</a></h3>
            <div class="b-goods-feat__info">Duis aute irure reprehender voluptate velit ese acium fugiat nulla pariatur excepteur ipsum.</div>
        </div>
        <!-- end .b-goods-featured-->
        <div class="b-goods-feat">
            <div class="b-goods-feat__img">
                <img class="img-responsive" src="/frontend/assets/media/components/b-goods/featured-2.jpg" alt="foto" /><span class="b-goods-feat__label">$45,000<span class="b-goods-feat__label_msrp">MSRP $27,000</span></span>
            </div>
            <ul class="b-goods-feat__desc list-unstyled">
                <li class="b-goods-feat__desc-item">35,000 mi</li>
                <li class="b-goods-feat__desc-item">Model: 2017</li>
                <li class="b-goods-feat__desc-item">Auto</li>
                <li class="b-goods-feat__desc-item">320 hp</li>
            </ul>
            <h3 class="b-goods-feat__name"><a href="car-details.html">Toyota Avalon TX</a></h3>
            <div class="b-goods-feat__info">Duis aute irure reprehender voluptate velit ese acium fugiat nulla pariatur excepteur ipsum.</div>
        </div>
        <!-- end .b-goods-featured-->
        <div class="b-goods-feat">
            <div class="b-goods-feat__img">
                <img class="img-responsive" src="/frontend/assets/media/components/b-goods/featured-3.jpg" alt="foto" /><span class="b-goods-feat__label">$45,000<span class="b-goods-feat__label_msrp">MSRP $27,000</span></span>
            </div>
            <ul class="b-goods-feat__desc list-unstyled">
                <li class="b-goods-feat__desc-item">35,000 mi</li>
                <li class="b-goods-feat__desc-item">Model: 2017</li>
                <li class="b-goods-feat__desc-item">Auto</li>
                <li class="b-goods-feat__desc-item">320 hp</li>
            </ul>
            <h3 class="b-goods-feat__name"><a href="car-details.html">Lexus GX 490i Hybird</a></h3>
            <div class="b-goods-feat__info">Duis aute irure reprehender voluptate velit ese acium fugiat nulla pariatur excepteur ipsum.</div>
        </div>
        <!-- end .b-goods-featured-->
        <div class="b-goods-feat">
            <div class="b-goods-feat__img">
                <img class="img-responsive" src="/frontend/assets/media/components/b-goods/featured-4.jpg" alt="foto" /><span class="b-goods-feat__label">$45,000<span class="b-goods-feat__label_msrp">MSRP $27,000</span></span>
            </div>
            <ul class="b-goods-feat__desc list-unstyled">
                <li class="b-goods-feat__desc-item">35,000 mi</li>
                <li class="b-goods-feat__desc-item">Model: 2017</li>
                <li class="b-goods-feat__desc-item">Auto</li>
                <li class="b-goods-feat__desc-item">320 hp</li>
            </ul>
            <h3 class="b-goods-feat__name"><a href="car-details.html">Lexus GX 490i Hybird</a></h3>
            <div class="b-goods-feat__info">Duis aute irure reprehender voluptate velit ese acium fugiat nulla pariatur excepteur ipsum.</div>
        </div>
        <!-- end .b-goods-featured-->
        <div class="b-goods-feat">
            <div class="b-goods-feat__img">
                <img class="img-responsive" src="/frontend/assets/media/components/b-goods/featured-5.jpg" alt="foto" /><span class="b-goods-feat__label">$45,000<span class="b-goods-feat__label_msrp">MSRP $27,000</span></span>
            </div>
            <ul class="b-goods-feat__desc list-unstyled">
                <li class="b-goods-feat__desc-item">35,000 mi</li>
                <li class="b-goods-feat__desc-item">Model: 2017</li>
                <li class="b-goods-feat__desc-item">Auto</li>
                <li class="b-goods-feat__desc-item">320 hp</li>
            </ul>
            <h3 class="b-goods-feat__name"><a href="car-details.html">Lexus GX 490i Hybird</a></h3>
            <div class="b-goods-feat__info">Duis aute irure reprehender voluptate velit ese acium fugiat nulla pariatur excepteur ipsum.</div>
        </div>
        <!-- end .b-goods-featured-->
        <div class="b-goods-feat">
            <div class="b-goods-feat__img">
                <img class="img-responsive" src="/frontend/assets/media/components/b-goods/featured-1.jpg" alt="foto" /><span class="b-goods-feat__label">$45,000<span class="b-goods-feat__label_msrp">MSRP $27,000</span></span>
            </div>
            <ul class="b-goods-feat__desc list-unstyled">
                <li class="b-goods-feat__desc-item">35,000 mi</li>
                <li class="b-goods-feat__desc-item">Model: 2017</li>
                <li class="b-goods-feat__desc-item">Auto</li>
                <li class="b-goods-feat__desc-item">320 hp</li>
            </ul>
            <h3 class="b-goods-feat__name"><a href="car-details.html">Lexus GX 490i Hybird</a></h3>
            <div class="b-goods-feat__info">Duis aute irure reprehender voluptate velit ese acium fugiat nulla pariatur excepteur ipsum.</div>
        </div>
        <!-- end .b-goods-featured-->
        <div class="b-goods-feat">
            <div class="b-goods-feat__img">
                <img class="img-responsive" src="/frontend/assets/media/components/b-goods/featured-2.jpg" alt="foto" /><span class="b-goods-feat__label">$45,000<span class="b-goods-feat__label_msrp">MSRP $27,000</span></span>
            </div>
            <ul class="b-goods-feat__desc list-unstyled">
                <li class="b-goods-feat__desc-item">35,000 mi</li>
                <li class="b-goods-feat__desc-item">Model: 2017</li>
                <li class="b-goods-feat__desc-item">Auto</li>
                <li class="b-goods-feat__desc-item">320 hp</li>
            </ul>
            <h3 class="b-goods-feat__name"><a href="car-details.html">Toyota Avalon TX</a></h3>
            <div class="b-goods-feat__info">Duis aute irure reprehender voluptate velit ese acium fugiat nulla pariatur excepteur ipsum.</div>
        </div>
        <!-- end .b-goods-featured-->
        <div class="b-goods-feat">
            <div class="b-goods-feat__img">
                <img class="img-responsive" src="/frontend/assets/media/components/b-goods/featured-3.jpg" alt="foto" /><span class="b-goods-feat__label">$45,000<span class="b-goods-feat__label_msrp">MSRP $27,000</span></span>
            </div>
            <ul class="b-goods-feat__desc list-unstyled">
                <li class="b-goods-feat__desc-item">35,000 mi</li>
                <li class="b-goods-feat__desc-item">Model: 2017</li>
                <li class="b-goods-feat__desc-item">Auto</li>
                <li class="b-goods-feat__desc-item">320 hp</li>
            </ul>
            <h3 class="b-goods-feat__name"><a href="car-details.html">Lexus GX 490i Hybird</a></h3>
            <div class="b-goods-feat__info">Duis aute irure reprehender voluptate velit ese acium fugiat nulla pariatur excepteur ipsum.</div>
        </div>
        <!-- end .b-goods-featured-->
        <div class="b-goods-feat">
            <div class="b-goods-feat__img">
                <img class="img-responsive" src="/frontend/assets/media/components/b-goods/featured-4.jpg" alt="foto" /><span class="b-goods-feat__label">$45,000<span class="b-goods-feat__label_msrp">MSRP $27,000</span></span>
            </div>
            <ul class="b-goods-feat__desc list-unstyled">
                <li class="b-goods-feat__desc-item">35,000 mi</li>
                <li class="b-goods-feat__desc-item">Model: 2017</li>
                <li class="b-goods-feat__desc-item">Auto</li>
                <li class="b-goods-feat__desc-item">320 hp</li>
            </ul>
            <h3 class="b-goods-feat__name"><a href="car-details.html">Lexus GX 490i Hybird</a></h3>
            <div class="b-goods-feat__info">Duis aute irure reprehender voluptate velit ese acium fugiat nulla pariatur excepteur ipsum.</div>
        </div>
        <!-- end .b-goods-featured-->
    </div>
    <!-- end .featured-carousel-->
</section>

<section class="section-default">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="text-center">
                    <h2 class="ui-title-block">Ranger</h2>
                    <div class="ui-subtitle-block">Tempor incididunt labore dolore magna alique</div>
                    <div class="ui-decor"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="featured-carousel owl-carousel owl-theme owl-theme_w-btn enable-owl-carousel" data-min768="2" data-min992="3" data-min1200="5" data-margin="30" data-pagination="false" data-navigation="true" data-auto-play="4000" data-stop-on-hover="true">
        <div class="b-goods-feat">
            <div class="b-goods-feat__img">
                <img class="img-responsive" src="/frontend/assets/media/components/b-goods/featured-5.jpg" alt="foto" /><span class="b-goods-feat__label">$45,000<span class="b-goods-feat__label_msrp">MSRP $27,000</span></span>
            </div>
            <ul class="b-goods-feat__desc list-unstyled">
                <li class="b-goods-feat__desc-item">35,000 mi</li>
                <li class="b-goods-feat__desc-item">Model: 2017</li>
                <li class="b-goods-feat__desc-item">Auto</li>
                <li class="b-goods-feat__desc-item">320 hp</li>
            </ul>
            <h3 class="b-goods-feat__name"><a href="car-details.html">Lexus GX 490i Hybird</a></h3>
            <div class="b-goods-feat__info">Duis aute irure reprehender voluptate velit ese acium fugiat nulla pariatur excepteur ipsum.</div>
        </div>
        <!-- end .b-goods-featured-->
        <div class="b-goods-feat">
            <div class="b-goods-feat__img">
                <img class="img-responsive" src="/frontend/assets/media/components/b-goods/featured-1.jpg" alt="foto" /><span class="b-goods-feat__label">$45,000<span class="b-goods-feat__label_msrp">MSRP $27,000</span></span>
            </div>
            <ul class="b-goods-feat__desc list-unstyled">
                <li class="b-goods-feat__desc-item">35,000 mi</li>
                <li class="b-goods-feat__desc-item">Model: 2017</li>
                <li class="b-goods-feat__desc-item">Auto</li>
                <li class="b-goods-feat__desc-item">320 hp</li>
            </ul>
            <h3 class="b-goods-feat__name"><a href="car-details.html">Lexus GX 490i Hybird</a></h3>
            <div class="b-goods-feat__info">Duis aute irure reprehender voluptate velit ese acium fugiat nulla pariatur excepteur ipsum.</div>
        </div>
        <!-- end .b-goods-featured-->
        <div class="b-goods-feat">
            <div class="b-goods-feat__img">
                <img class="img-responsive" src="/frontend/assets/media/components/b-goods/featured-2.jpg" alt="foto" /><span class="b-goods-feat__label">$45,000<span class="b-goods-feat__label_msrp">MSRP $27,000</span></span>
            </div>
            <ul class="b-goods-feat__desc list-unstyled">
                <li class="b-goods-feat__desc-item">35,000 mi</li>
                <li class="b-goods-feat__desc-item">Model: 2017</li>
                <li class="b-goods-feat__desc-item">Auto</li>
                <li class="b-goods-feat__desc-item">320 hp</li>
            </ul>
            <h3 class="b-goods-feat__name"><a href="car-details.html">Toyota Avalon TX</a></h3>
            <div class="b-goods-feat__info">Duis aute irure reprehender voluptate velit ese acium fugiat nulla pariatur excepteur ipsum.</div>
        </div>
        <!-- end .b-goods-featured-->
        <div class="b-goods-feat">
            <div class="b-goods-feat__img">
                <img class="img-responsive" src="/frontend/assets/media/components/b-goods/featured-3.jpg" alt="foto" /><span class="b-goods-feat__label">$45,000<span class="b-goods-feat__label_msrp">MSRP $27,000</span></span>
            </div>
            <ul class="b-goods-feat__desc list-unstyled">
                <li class="b-goods-feat__desc-item">35,000 mi</li>
                <li class="b-goods-feat__desc-item">Model: 2017</li>
                <li class="b-goods-feat__desc-item">Auto</li>
                <li class="b-goods-feat__desc-item">320 hp</li>
            </ul>
            <h3 class="b-goods-feat__name"><a href="car-details.html">Lexus GX 490i Hybird</a></h3>
            <div class="b-goods-feat__info">Duis aute irure reprehender voluptate velit ese acium fugiat nulla pariatur excepteur ipsum.</div>
        </div>
        <!-- end .b-goods-featured-->
        <div class="b-goods-feat">
            <div class="b-goods-feat__img">
                <img class="img-responsive" src="/frontend/assets/media/components/b-goods/featured-4.jpg" alt="foto" /><span class="b-goods-feat__label">$45,000<span class="b-goods-feat__label_msrp">MSRP $27,000</span></span>
            </div>
            <ul class="b-goods-feat__desc list-unstyled">
                <li class="b-goods-feat__desc-item">35,000 mi</li>
                <li class="b-goods-feat__desc-item">Model: 2017</li>
                <li class="b-goods-feat__desc-item">Auto</li>
                <li class="b-goods-feat__desc-item">320 hp</li>
            </ul>
            <h3 class="b-goods-feat__name"><a href="car-details.html">Lexus GX 490i Hybird</a></h3>
            <div class="b-goods-feat__info">Duis aute irure reprehender voluptate velit ese acium fugiat nulla pariatur excepteur ipsum.</div>
        </div>
        <!-- end .b-goods-featured-->
        <div class="b-goods-feat">
            <div class="b-goods-feat__img">
                <img class="img-responsive" src="/frontend/assets/media/components/b-goods/featured-5.jpg" alt="foto" /><span class="b-goods-feat__label">$45,000<span class="b-goods-feat__label_msrp">MSRP $27,000</span></span>
            </div>
            <ul class="b-goods-feat__desc list-unstyled">
                <li class="b-goods-feat__desc-item">35,000 mi</li>
                <li class="b-goods-feat__desc-item">Model: 2017</li>
                <li class="b-goods-feat__desc-item">Auto</li>
                <li class="b-goods-feat__desc-item">320 hp</li>
            </ul>
            <h3 class="b-goods-feat__name"><a href="car-details.html">Lexus GX 490i Hybird</a></h3>
            <div class="b-goods-feat__info">Duis aute irure reprehender voluptate velit ese acium fugiat nulla pariatur excepteur ipsum.</div>
        </div>
        <!-- end .b-goods-featured-->
        <div class="b-goods-feat">
            <div class="b-goods-feat__img">
                <img class="img-responsive" src="/frontend/assets/media/components/b-goods/featured-1.jpg" alt="foto" /><span class="b-goods-feat__label">$45,000<span class="b-goods-feat__label_msrp">MSRP $27,000</span></span>
            </div>
            <ul class="b-goods-feat__desc list-unstyled">
                <li class="b-goods-feat__desc-item">35,000 mi</li>
                <li class="b-goods-feat__desc-item">Model: 2017</li>
                <li class="b-goods-feat__desc-item">Auto</li>
                <li class="b-goods-feat__desc-item">320 hp</li>
            </ul>
            <h3 class="b-goods-feat__name"><a href="car-details.html">Lexus GX 490i Hybird</a></h3>
            <div class="b-goods-feat__info">Duis aute irure reprehender voluptate velit ese acium fugiat nulla pariatur excepteur ipsum.</div>
        </div>
        <!-- end .b-goods-featured-->
        <div class="b-goods-feat">
            <div class="b-goods-feat__img">
                <img class="img-responsive" src="/frontend/assets/media/components/b-goods/featured-2.jpg" alt="foto" /><span class="b-goods-feat__label">$45,000<span class="b-goods-feat__label_msrp">MSRP $27,000</span></span>
            </div>
            <ul class="b-goods-feat__desc list-unstyled">
                <li class="b-goods-feat__desc-item">35,000 mi</li>
                <li class="b-goods-feat__desc-item">Model: 2017</li>
                <li class="b-goods-feat__desc-item">Auto</li>
                <li class="b-goods-feat__desc-item">320 hp</li>
            </ul>
            <h3 class="b-goods-feat__name"><a href="car-details.html">Toyota Avalon TX</a></h3>
            <div class="b-goods-feat__info">Duis aute irure reprehender voluptate velit ese acium fugiat nulla pariatur excepteur ipsum.</div>
        </div>
        <!-- end .b-goods-featured-->
        <div class="b-goods-feat">
            <div class="b-goods-feat__img">
                <img class="img-responsive" src="/frontend/assets/media/components/b-goods/featured-3.jpg" alt="foto" /><span class="b-goods-feat__label">$45,000<span class="b-goods-feat__label_msrp">MSRP $27,000</span></span>
            </div>
            <ul class="b-goods-feat__desc list-unstyled">
                <li class="b-goods-feat__desc-item">35,000 mi</li>
                <li class="b-goods-feat__desc-item">Model: 2017</li>
                <li class="b-goods-feat__desc-item">Auto</li>
                <li class="b-goods-feat__desc-item">320 hp</li>
            </ul>
            <h3 class="b-goods-feat__name"><a href="car-details.html">Lexus GX 490i Hybird</a></h3>
            <div class="b-goods-feat__info">Duis aute irure reprehender voluptate velit ese acium fugiat nulla pariatur excepteur ipsum.</div>
        </div>
        <!-- end .b-goods-featured-->
        <div class="b-goods-feat">
            <div class="b-goods-feat__img">
                <img class="img-responsive" src="/frontend/assets/media/components/b-goods/featured-4.jpg" alt="foto" /><span class="b-goods-feat__label">$45,000<span class="b-goods-feat__label_msrp">MSRP $27,000</span></span>
            </div>
            <ul class="b-goods-feat__desc list-unstyled">
                <li class="b-goods-feat__desc-item">35,000 mi</li>
                <li class="b-goods-feat__desc-item">Model: 2017</li>
                <li class="b-goods-feat__desc-item">Auto</li>
                <li class="b-goods-feat__desc-item">320 hp</li>
            </ul>
            <h3 class="b-goods-feat__name"><a href="car-details.html">Lexus GX 490i Hybird</a></h3>
            <div class="b-goods-feat__info">Duis aute irure reprehender voluptate velit ese acium fugiat nulla pariatur excepteur ipsum.</div>
        </div>
        <!-- end .b-goods-featured-->
    </div>
    <!-- end .featured-carousel-->
</section>
<!-- end .section-default-->
<section class="section-advantages-2 section-dark area-bg area-bg_dark parallax" style="background-image: url(/frontend/assets/media/content/bg/bg-1.jpg)">
    <div class="area-bg__inner">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="text-center">
                        <h2 class="ui-title-block">What We Offers</h2>
                        <div class="ui-subtitle-block">Tempor incididunt labore dolore duis lorem magna aliqua sed ipsum</div>
                        <div class="ui-decor"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <section class="b-advantages-2"><i class="b-advantages-2__icon flaticon-wheel-alignment"></i>
                        <h3 class="b-advantages-2__title">The Wheel<strong>Balancing</strong></h3>
                        <div class="b-advantages-2__info">MotorLand is nisi aliquip ex con velit esse cillum dolore fugiatal excepteur sint occaecat.</div><span class="ui-decor-2"></span>
                    </section>
                    <!-- end .b-advantages-->
                </div>
                <div class="col-md-3">
                    <section class="b-advantages-2"><i class="b-advantages-2__icon flaticon-gearstick"></i>
                        <h3 class="b-advantages-2__title">Transmission<strong>Installation</strong></h3>
                        <div class="b-advantages-2__info">MotorLand is nisi aliquip ex con velit esse cillum dolore fugiatal excepteur sint occaecat.</div><span class="ui-decor-2"></span>
                    </section>
                    <!-- end .b-advantages-->
                </div>
                <div class="col-md-3">
                    <section class="b-advantages-2"><i class="b-advantages-2__icon flaticon-painting"></i>
                        <h3 class="b-advantages-2__title">CarZone<strong>Painting</strong></h3>
                        <div class="b-advantages-2__info">MotorLand is nisi aliquip ex con velit esse cillum dolore fugiatal excepteur sint occaecat.</div><span class="ui-decor-2"></span>
                    </section>
                    <!-- end .b-advantages-->
                </div>
                <div class="col-md-3">
                    <section class="b-advantages-2"><i class="b-advantages-2__icon flaticon-inspection"></i>
                        <h3 class="b-advantages-2__title">CarZone<strong>Inspection</strong></h3>
                        <div class="b-advantages-2__info">MotorLand is nisi aliquip ex con velit esse cillum dolore fugiatal excepteur sint occaecat.</div><span class="ui-decor-2"></span>
                    </section>
                    <!-- end .b-advantages-->
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end .section-advantages-2-->
<div class="section-default">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <ul class="b-progress-list js-progress-list list-unstyled">
                    <li class="b-progress-list__item clearfix"><span class="b-progress-list__percent js-chart" data-percent="3874"><span class="js-percent"></span><span></span></span><span class="b-progress-list__name">Vehicles Stock</span>
                    </li>
                    <li class="b-progress-list__item clearfix"><span class="b-progress-list__percent js-chart" data-percent="299"><span class="js-percent"></span><span>+</span></span><span class="b-progress-list__name">dealers served</span>
                    </li>
                    <li class="b-progress-list__item clearfix"><span class="b-progress-list__percent js-chart" data-percent="6403"><span class="js-percent"></span><span></span></span><span class="b-progress-list__name">Happy Customers</span>
                    </li>
                    <li class="b-progress-list__item clearfix"><span class="b-progress-list__percent js-chart" data-percent="1450+"><span class="js-percent"></span><span>+</span></span><span class="b-progress-list__name">vehicles on sale</span>
                    </li>
                </ul>
                <!-- end .b-progress-->
            </div>
        </div>
    </div>
</div>
<!-- end .section-default-->

<div class="info-group block-table block-table_md">
    <div class="info-group__section col-md-6">
        <section class="b-info b-info_mod-a area-bg area-bg_op_80 area-bg_prim parallax" style="background-image: url(/frontend/assets/media/content/bg/bg-4.jpg)">
            <div class="area-bg__inner">
                <h2 class="b-info__title">Bạn đang quan tâm về giá cả?<strong class="b-info__title_lg">Hãy yêu cầu báo giá</strong></h2>
                <div class="b-info__desc">MotorLand is nisi aliquip exa con velit esse cillum dolore fugiatal sint occaecat excepteur ipsum dolor sit amet consectetur.</div><a class="btn btn-white" href="#">Gửi yêu cầu</a>
            </div>
        </section>
    </div>
    <div class="info-group__section col-md-6">
        <section class="b-info b-info_mod-b area-bg area-bg_op_80 area-bg_dark-2 parallax" style="background-image: url(/frontend/assets/media/content/bg/bg-3.jpg)">
            <div class="area-bg__inner">
                <h2 class="b-info__title">Bạn muốn trải nghiệm thực tế?<strong class="b-info__title_lg">Hãy đăng ký lái thử</strong></h2>
                <div class="b-info__desc">MotorLand is nisi aliquip exa con velit esse cillum dolore fugiatal sint occaecat excepteur ipsum dolor sit amet consectetur.</div><a class="btn btn-white" href="#">Đăng ký ngay</a>
            </div>
        </section>
    </div>
</div>
<!-- end .b-info-group-->
<div class="section-default">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <section class="section-list-brands">
                    <h2 class="ui-title-block">Chương trình và ưu đãi</h2>
                    <div class="ui-subtitle-block">We have large number of Cars available, here you can browse by Make!</div>
                    <div class="ui-decor"></div>
                    <ul class="b-list-brands list-unstyled">
                        <li class="b-list-brands__item"><a class="b-list-brands__link" href="listings.html">Alfa Romeo<span class="badge">(256)</span></a>
                        </li>
                        <li class="b-list-brands__item"><a class="b-list-brands__link" href="listings.html">Alpine<span class="badge">(157)</span></a>
                        </li>
                        <li class="b-list-brands__item"><a class="b-list-brands__link" href="listings.html">Alpine<span class="badge">(145)</span></a>
                        </li>
                        <li class="b-list-brands__item"><a class="b-list-brands__link" href="listings.html">Aston Martin<span class="badge">(456)</span></a>
                        </li>
                        <li class="b-list-brands__item"><a class="b-list-brands__link" href="listings.html">Audi<span class="badge">(856)</span></a>
                        </li>
                        <li class="b-list-brands__item"><a class="b-list-brands__link" href="listings.html">Bently<span class="badge">(125)</span></a>
                        </li>
                        <li class="b-list-brands__item"><a class="b-list-brands__link" href="listings.html">BMW<span class="badge">(562)</span></a>
                        </li>
                        <li class="b-list-brands__item"><a class="b-list-brands__link" href="listings.html">Bugatti<span class="badge">(562)</span></a>
                        </li>
                        <li class="b-list-brands__item"><a class="b-list-brands__link" href="listings.html">Ferrari<span class="badge">(256)</span></a>
                        </li>
                        <li class="b-list-brands__item"><a class="b-list-brands__link" href="listings.html">Fiat<span class="badge">(157)</span></a>
                        </li>
                        <li class="b-list-brands__item"><a class="b-list-brands__link" href="listings.html">Lamborghini<span class="badge">(145)</span></a>
                        </li>
                        <li class="b-list-brands__item"><a class="b-list-brands__link" href="listings.html">Lancia<span class="badge">(456)</span></a>
                        </li>
                        <li class="b-list-brands__item"><a class="b-list-brands__link" href="listings.html">Land Rover<span class="badge">(856)</span></a>
                        </li>
                        <li class="b-list-brands__item"><a class="b-list-brands__link" href="listings.html">Maserati<span class="badge">(125)</span></a>
                        </li>
                        <li class="b-list-brands__item"><a class="b-list-brands__link" href="listings.html">McLaren<span class="badge">(562)</span></a>
                        </li>
                        <li class="b-list-brands__item"><a class="b-list-brands__link" href="listings.html">Mercedes-Benz<span class="badge">(562)</span></a>
                        </li>
                        <li class="b-list-brands__item"><a class="b-list-brands__link" href="listings.html">Mini<span class="badge">(256)</span></a>
                        </li>
                        <li class="b-list-brands__item"><a class="b-list-brands__link" href="listings.html">Opel<span class="badge">(157)</span></a>
                        </li>
                        <li class="b-list-brands__item"><a class="b-list-brands__link" href="listings.html">Peugeot<span class="badge">(145)</span></a>
                        </li>
                        <li class="b-list-brands__item"><a class="b-list-brands__link" href="listings.html">Porsche<span class="badge">(456)</span></a>
                        </li>
                        <li class="b-list-brands__item"><a class="b-list-brands__link" href="listings.html">Renault<span class="badge">(856)</span></a>
                        </li>
                        <li class="b-list-brands__item"><a class="b-list-brands__link" href="listings.html">Rolls-Royce<span class="badge">(125)</span></a>
                        </li>
                        <li class="b-list-brands__item"><a class="b-list-brands__link" href="listings.html">Vauxhall<span class="badge">(562)</span></a>
                        </li>
                        <li class="b-list-brands__item"><a class="b-list-brands__link" href="listings.html">Volkswagen<span class="badge">(562)</span></a>
                        </li>
                    </ul><a class="btn btn-primary" href="home.html">See all brands</a>
                </section>
            </div>
            <div class="col-md-4 col-md-offset-1">
                <div class="b-bnr">
                    <div class="b-bnr__label">Lý do nên</div>
                    <div class="b-bnr__title">Mua xe trả góp</div>
                    <div class="b-bnr__info">We have Effective and Efficient Vehicles for Car Rental to meet all your needs!</div>
                    <ul class="b-bnr__list list list-mark-3">
                        <li>Chương trình cho vay mua xe</li>
                        <li>Thủ tục mua xe trả góp</li>
                        <li>Cam kết duyệt thành công 100%</li>
                        <li>Thời hạn vay lên đến 8 năm, tất toán trước hạn miễn phí</li>
                    </ul>
                </div>
                <!-- end .b-banner-->
            </div>
        </div>
    </div>
</div>
<!-- end .b-list-brands-->
<div class="section-reviews section-reviews_mod-a area-bg area-bg_dark parallax" style="background-image: url(/frontend/assets/media/content/bg/bg-6.jpg)">
    <div class="area-bg__inner">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="carousel-reviews owl-carousel owl-theme owl-theme_w-btn enable-owl-carousel" data-min768="1" data-min992="2" data-min1200="2" data-margin="0" data-pagination="true" data-navigation="false" data-auto-play="4000" data-stop-on-hover="true">
                        <div class="b-blockquote b-blockquote-1">
                            <div class="b-blockquote__img">
                                <img src="/frontend/assets/media/components/b-blockquote/face-1.jpg" alt="foto" />
                            </div>
                            <blockquote>
                                <cite class="b-blockquote__cite" title="Blockquote Title"><span class="b-blockquote__author">Nick William</span><span class="b-blockquote__category">Quality Assurance Manager</span></cite>
                                <p>Motorland uis aute irure reprehender voluptate velit ese acium fugiat nulla pariatur lorem excepteur ipsum et dolore magna aliqua. Ut enim minim veniam quis nostrud exercitation ullamco.</p>
                            </blockquote>
                        </div>
                        <!-- end .b-blockquote-->
                        <div class="b-blockquote b-blockquote-1">
                            <div class="b-blockquote__img">
                                <img src="/frontend/assets/media/components/b-blockquote/face-2.jpg" alt="foto" />
                            </div>
                            <blockquote>
                                <cite class="b-blockquote__cite" title="Blockquote Title"><span class="b-blockquote__author">James Liam</span><span class="b-blockquote__category">Quality Assurance Manager</span></cite>
                                <p>Motorland uis aute irure reprehender voluptate velit ese acium fugiat nulla pariatur lorem excepteur ipsum et dolore magna aliqua. Ut enim minim veniam quis nostrud exercitation ullamco.</p>
                            </blockquote>
                        </div>
                        <!-- end .b-blockquote-->
                        <div class="b-blockquote b-blockquote-1">
                            <div class="b-blockquote__img">
                                <img src="/frontend/assets/media/components/b-blockquote/face-1.jpg" alt="foto" />
                            </div>
                            <blockquote>
                                <cite class="b-blockquote__cite" title="Blockquote Title"><span class="b-blockquote__author">Nick William</span><span class="b-blockquote__category">Quality Assurance Manager</span></cite>
                                <p>Motorland uis aute irure reprehender voluptate velit ese acium fugiat nulla pariatur lorem excepteur ipsum et dolore magna aliqua. Ut enim minim veniam quis nostrud exercitation ullamco.</p>
                            </blockquote>
                        </div>
                        <!-- end .b-blockquote-->
                        <div class="b-blockquote b-blockquote-1">
                            <div class="b-blockquote__img">
                                <img src="/frontend/assets/media/components/b-blockquote/face-2.jpg" alt="foto" />
                            </div>
                            <blockquote>
                                <cite class="b-blockquote__cite" title="Blockquote Title"><span class="b-blockquote__author">James Liam</span><span class="b-blockquote__category">Quality Assurance Manager</span></cite>
                                <p>Motorland uis aute irure reprehender voluptate velit ese acium fugiat nulla pariatur lorem excepteur ipsum et dolore magna aliqua. Ut enim minim veniam quis nostrud exercitation ullamco.</p>
                            </blockquote>
                        </div>
                        <!-- end .b-blockquote-->
                        <div class="b-blockquote b-blockquote-1">
                            <div class="b-blockquote__img">
                                <img src="/frontend/assets/media/components/b-blockquote/face-1.jpg" alt="foto" />
                            </div>
                            <blockquote>
                                <cite class="b-blockquote__cite" title="Blockquote Title"><span class="b-blockquote__author">Nick William</span><span class="b-blockquote__category">Quality Assurance Manager</span></cite>
                                <p>Motorland uis aute irure reprehender voluptate velit ese acium fugiat nulla pariatur lorem excepteur ipsum et dolore magna aliqua. Ut enim minim veniam quis nostrud exercitation ullamco.</p>
                            </blockquote>
                        </div>
                        <!-- end .b-blockquote-->
                        <div class="b-blockquote b-blockquote-1">
                            <div class="b-blockquote__img">
                                <img src="/frontend/assets/media/components/b-blockquote/face-2.jpg" alt="foto" />
                            </div>
                            <blockquote>
                                <cite class="b-blockquote__cite" title="Blockquote Title"><span class="b-blockquote__author">James Liam</span><span class="b-blockquote__category">Quality Assurance Manager</span></cite>
                                <p>Motorland uis aute irure reprehender voluptate velit ese acium fugiat nulla pariatur lorem excepteur ipsum et dolore magna aliqua. Ut enim minim veniam quis nostrud exercitation ullamco.</p>
                            </blockquote>
                        </div>
                        <!-- end .b-blockquote-->
                        <div class="b-blockquote b-blockquote-1">
                            <div class="b-blockquote__img">
                                <img src="/frontend/assets/media/components/b-blockquote/face-1.jpg" alt="foto" />
                            </div>
                            <blockquote>
                                <cite class="b-blockquote__cite" title="Blockquote Title"><span class="b-blockquote__author">Nick William</span><span class="b-blockquote__category">Quality Assurance Manager</span></cite>
                                <p>Motorland uis aute irure reprehender voluptate velit ese acium fugiat nulla pariatur lorem excepteur ipsum et dolore magna aliqua. Ut enim minim veniam quis nostrud exercitation ullamco.</p>
                            </blockquote>
                        </div>
                        <!-- end .b-blockquote-->
                        <div class="b-blockquote b-blockquote-1">
                            <div class="b-blockquote__img">
                                <img src="/frontend/assets/media/components/b-blockquote/face-2.jpg" alt="foto" />
                            </div>
                            <blockquote>
                                <cite class="b-blockquote__cite" title="Blockquote Title"><span class="b-blockquote__author">James Liam</span><span class="b-blockquote__category">Quality Assurance Manager</span></cite>
                                <p>Motorland uis aute irure reprehender voluptate velit ese acium fugiat nulla pariatur lorem excepteur ipsum et dolore magna aliqua. Ut enim minim veniam quis nostrud exercitation ullamco.</p>
                            </blockquote>
                        </div>
                        <!-- end .b-blockquote-->
                    </div>
                    <!-- end .carousel-reviews-->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end .section-reviews-->
<section class="section-news section-news_mod-a">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="text-center">
                    <h2 class="ui-title-block">Tin Tức Mới Nhất</h2>
                    <div class="ui-subtitle-block">Tempor incididunt labore dolore magna clium fugiat alique</div>
                    <div class="ui-decor"></div>
                </div>
                <div class="carousel-news owl-carousel owl-theme owl-theme_w-btn enable-owl-carousel" data-min768="2" data-min992="3" data-min1200="3" data-margin="30" data-pagination="false" data-navigation="true" data-auto-play="4000" data-stop-on-hover="true">
                    <section class="b-post b-post-1 clearfix">
                        <div class="entry-media">
                            <img class="img-responsive" src="/frontend/assets/media/content/posts/360x250/1.jpg" alt="Foto" />
                        </div>
                        <div class="entry-main">
                            <div class="entry-header">
                                <div class="entry-meta">
                                    <div class="entry-meta__face">
                                        <img class="img-responsive" src="/frontend/assets/media/content/posts/face/76x76_1.jpg" alt="face" />
                                    </div><span class="entry-meta__item">Post by<a class="entry-meta__link" href="blog-main.html"> Thomas Neil</a></span><a class="entry-meta__categorie" href="blog-main.html"><strong>Ford News</strong></a>
                                </div>
                                <h2 class="entry-title"><a href="blog-post.html">Ford Motors overhauled its design team </a></h2>
                            </div>
                            <div class="entry-content">
                                <p>Duis aute irure reprehender voluptate velits fugiat nulla pariatur excepteur ipsum doloe amet consecteur adipisicing elit.</p>
                            </div>
                            <div class="entry-footer">
                                <div class="entry-footer__inner">
                                    <div class="b-post-social">SHARE
                                        <ul class="b-post-social__list list-inline">
                                            <li><a href="twitter.com"><i class="icon fa fa-twitter"></i></a>
                                            </li>
                                            <li><a href="facebook.com"><i class="icon fa fa-facebook"></i></a>
                                            </li>
                                            <li><a href="plus.google.com"><i class="icon fa fa-google-plus"></i></a>
                                            </li>
                                            <li><a href="pinterest.com"><i class="icon fa fa-pinterest-p"></i></a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="entry-meta"><span class="entry-meta__item"><i class="entry-meta__icon fa fa-heart"></i>300</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <!-- end .post-->
                    <section class="b-post b-post-1 clearfix">
                        <div class="entry-media">
                            <img class="img-responsive" src="/frontend/assets/media/content/posts/360x250/2.jpg" alt="Foto" />
                        </div>
                        <div class="entry-main">
                            <div class="entry-header">
                                <div class="entry-meta">
                                    <div class="entry-meta__face">
                                        <img class="img-responsive" src="/frontend/assets/media/content/posts/face/76x76_2.jpg" alt="face" />
                                    </div><span class="entry-meta__item">Post by<a class="entry-meta__link" href="blog-main.html"> Thomas Neil</a></span><a class="entry-meta__categorie" href="blog-main.html"><strong>Driving</strong></a>
                                </div>
                                <h2 class="entry-title"><a href="blog-post.html">Self-driving legislation sets in the motion</a></h2>
                            </div>
                            <div class="entry-content">
                                <p>Duis aute irure reprehender voluptate velits fugiat nulla pariatur excepteur ipsum doloe amet consecteur adipisicing elit.</p>
                            </div>
                            <div class="entry-footer">
                                <div class="entry-footer__inner">
                                    <div class="b-post-social">SHARE
                                        <ul class="b-post-social__list list-inline">
                                            <li><a href="twitter.com"><i class="icon fa fa-twitter"></i></a>
                                            </li>
                                            <li><a href="facebook.com"><i class="icon fa fa-facebook"></i></a>
                                            </li>
                                            <li><a href="plus.google.com"><i class="icon fa fa-google-plus"></i></a>
                                            </li>
                                            <li><a href="pinterest.com"><i class="icon fa fa-pinterest-p"></i></a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="entry-meta"><span class="entry-meta__item"><i class="entry-meta__icon fa fa-heart"></i>205</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <!-- end .post-->
                    <section class="b-post b-post-1 clearfix">
                        <div class="entry-media">
                            <img class="img-responsive" src="/frontend/assets/media/content/posts/360x250/3.jpg" alt="Foto" />
                        </div>
                        <div class="entry-main">
                            <div class="entry-header">
                                <div class="entry-meta">
                                    <div class="entry-meta__face">
                                        <img class="img-responsive" src="/frontend/assets/media/content/posts/face/76x76_3.jpg" alt="face" />
                                    </div><span class="entry-meta__item">Post by<a class="entry-meta__link" href="blog-main.html"> Thomas Neil</a></span><a class="entry-meta__categorie" href="blog-main.html"><strong>What’s New</strong></a>
                                </div>
                                <h2 class="entry-title"><a href="blog-post.html">What's new coming from the automakers in future</a></h2>
                            </div>
                            <div class="entry-content">
                                <p>Duis aute irure reprehender voluptate velits fugiat nulla pariatur excepteur ipsum doloe amet consecteur adipisicing elit.</p>
                            </div>
                            <div class="entry-footer">
                                <div class="entry-footer__inner">
                                    <div class="b-post-social">SHARE
                                        <ul class="b-post-social__list list-inline">
                                            <li><a href="twitter.com"><i class="icon fa fa-twitter"></i></a>
                                            </li>
                                            <li><a href="facebook.com"><i class="icon fa fa-facebook"></i></a>
                                            </li>
                                            <li><a href="plus.google.com"><i class="icon fa fa-google-plus"></i></a>
                                            </li>
                                            <li><a href="pinterest.com"><i class="icon fa fa-pinterest-p"></i></a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="entry-meta"><span class="entry-meta__item"><i class="entry-meta__icon fa fa-heart"></i>242</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <!-- end .post-->
                    <section class="b-post b-post-1 clearfix">
                        <div class="entry-media">
                            <img class="img-responsive" src="/frontend/assets/media/content/posts/360x250/1.jpg" alt="Foto" />
                        </div>
                        <div class="entry-main">
                            <div class="entry-header">
                                <div class="entry-meta">
                                    <div class="entry-meta__face">
                                        <img class="img-responsive" src="/frontend/assets/media/content/posts/face/76x76_1.jpg" alt="face" />
                                    </div><span class="entry-meta__item">Post by<a class="entry-meta__link" href="blog-main.html"> Thomas Neil</a></span><a class="entry-meta__categorie" href="blog-main.html"><strong>Ford News</strong></a>
                                </div>
                                <h2 class="entry-title"><a href="blog-post.html">Ford Motors overhauled its design team </a></h2>
                            </div>
                            <div class="entry-content">
                                <p>Duis aute irure reprehender voluptate velits fugiat nulla pariatur excepteur ipsum doloe amet consecteur adipisicing elit.</p>
                            </div>
                            <div class="entry-footer">
                                <div class="entry-footer__inner">
                                    <div class="b-post-social">SHARE
                                        <ul class="b-post-social__list list-inline">
                                            <li><a href="twitter.com"><i class="icon fa fa-twitter"></i></a>
                                            </li>
                                            <li><a href="facebook.com"><i class="icon fa fa-facebook"></i></a>
                                            </li>
                                            <li><a href="plus.google.com"><i class="icon fa fa-google-plus"></i></a>
                                            </li>
                                            <li><a href="pinterest.com"><i class="icon fa fa-pinterest-p"></i></a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="entry-meta"><span class="entry-meta__item"><i class="entry-meta__icon fa fa-heart"></i>300</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <!-- end .post-->
                    <section class="b-post b-post-1 clearfix">
                        <div class="entry-media">
                            <img class="img-responsive" src="/frontend/assets/media/content/posts/360x250/2.jpg" alt="Foto" />
                        </div>
                        <div class="entry-main">
                            <div class="entry-header">
                                <div class="entry-meta">
                                    <div class="entry-meta__face">
                                        <img class="img-responsive" src="/frontend/assets/media/content/posts/face/76x76_2.jpg" alt="face" />
                                    </div><span class="entry-meta__item">Post by<a class="entry-meta__link" href="blog-main.html"> Thomas Neil</a></span><a class="entry-meta__categorie" href="blog-main.html"><strong>Driving</strong></a>
                                </div>
                                <h2 class="entry-title"><a href="blog-post.html">Self-driving legislation sets in the motion</a></h2>
                            </div>
                            <div class="entry-content">
                                <p>Duis aute irure reprehender voluptate velits fugiat nulla pariatur excepteur ipsum doloe amet consecteur adipisicing elit.</p>
                            </div>
                            <div class="entry-footer">
                                <div class="entry-footer__inner">
                                    <div class="b-post-social">SHARE
                                        <ul class="b-post-social__list list-inline">
                                            <li><a href="twitter.com"><i class="icon fa fa-twitter"></i></a>
                                            </li>
                                            <li><a href="facebook.com"><i class="icon fa fa-facebook"></i></a>
                                            </li>
                                            <li><a href="plus.google.com"><i class="icon fa fa-google-plus"></i></a>
                                            </li>
                                            <li><a href="pinterest.com"><i class="icon fa fa-pinterest-p"></i></a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="entry-meta"><span class="entry-meta__item"><i class="entry-meta__icon fa fa-heart"></i>205</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <!-- end .post-->
                    <section class="b-post b-post-1 clearfix">
                        <div class="entry-media">
                            <img class="img-responsive" src="/frontend/assets/media/content/posts/360x250/3.jpg" alt="Foto" />
                        </div>
                        <div class="entry-main">
                            <div class="entry-header">
                                <div class="entry-meta">
                                    <div class="entry-meta__face">
                                        <img class="img-responsive" src="/frontend/assets/media/content/posts/face/76x76_3.jpg" alt="face" />
                                    </div><span class="entry-meta__item">Post by<a class="entry-meta__link" href="blog-main.html"> Thomas Neil</a></span><a class="entry-meta__categorie" href="blog-main.html"><strong>What’s New</strong></a>
                                </div>
                                <h2 class="entry-title"><a href="blog-post.html">What's new coming from the automakers in future</a></h2>
                            </div>
                            <div class="entry-content">
                                <p>Duis aute irure reprehender voluptate velits fugiat nulla pariatur excepteur ipsum doloe amet consecteur adipisicing elit.</p>
                            </div>
                            <div class="entry-footer">
                                <div class="entry-footer__inner">
                                    <div class="b-post-social">SHARE
                                        <ul class="b-post-social__list list-inline">
                                            <li><a href="twitter.com"><i class="icon fa fa-twitter"></i></a>
                                            </li>
                                            <li><a href="facebook.com"><i class="icon fa fa-facebook"></i></a>
                                            </li>
                                            <li><a href="plus.google.com"><i class="icon fa fa-google-plus"></i></a>
                                            </li>
                                            <li><a href="pinterest.com"><i class="icon fa fa-pinterest-p"></i></a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="entry-meta"><span class="entry-meta__item"><i class="entry-meta__icon fa fa-heart"></i>242</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <!-- end .post-->
                </div>
                <!-- end .carousel-news-->
            </div>
        </div>
    </div>
</section>
<!-- end .section-news-->
<div class="section-default">
    <div class="b-brands owl-carousel owl-theme enable-owl-carousel" data-min768="2" data-min992="5" data-min1200="6" data-margin="30" data-pagination="false" data-navigation="true" data-auto-play="4000" data-stop-on-hover="true">
        <div class="b-brands__item">
            <div class="b-brands__img">
                <img class="img-responsive" src="/frontend/assets/media/components/b-brands/1.jpg" alt="foto" />
            </div>
        </div>
        <div class="b-brands__item">
            <div class="b-brands__img">
                <img class="img-responsive" src="/frontend/assets/media/components/b-brands/2.jpg" alt="foto" />
            </div>
        </div>
        <div class="b-brands__item">
            <div class="b-brands__img">
                <img class="img-responsive" src="/frontend/assets/media/components/b-brands/3.jpg" alt="foto" />
            </div>
        </div>
        <div class="b-brands__item">
            <div class="b-brands__img">
                <img class="img-responsive" src="/frontend/assets/media/components/b-brands/4.jpg" alt="foto" />
            </div>
        </div>
        <div class="b-brands__item">
            <div class="b-brands__img">
                <img class="img-responsive" src="/frontend/assets/media/components/b-brands/5.jpg" alt="foto" />
            </div>
        </div>
        <div class="b-brands__item">
            <div class="b-brands__img">
                <img class="img-responsive" src="/frontend/assets/media/components/b-brands/6.jpg" alt="foto" />
            </div>
        </div>
    </div>
    <!-- end .b-brands-->
</div>
<!-- end .section-default-->