<header class="header header-boxed-width navbar-fixed-top header-background-white header-color-black header-topbar-dark header-logo-black header-topbarbox-1-left header-topbarbox-2-right header-navibox-1-left header-navibox-2-right header-navibox-3-right header-navibox-4-right">
    <div class="container container-boxed-width">
        <%= render "layouts/erp/frontend/modules/header/top_bar", web_info: web_info %>
        <%= render "layouts/erp/frontend/modules/header/navbar", web_info: web_info %>
    </div>
</header>
<!-- end .header-->